<div class="recommended-all">
    <h3>Visit our youtube channel for more hits!</h3>
</div>
<!-- ## Basic usage -->
<!-- Embed YouTube videos via the video id. The id is found in every Youtube video page URL. -->
<amp-youtube width="480" height="270" layout="responsive" data-videoid="c1j8JVYkp6k">
</amp-youtube>


<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-98602094-1"
  },
  "triggers": {
    "default pageview": {
      "on": "visible",
      "request": "pageview",
      "vars": {
        "title": "{% if page.album_name %}{{ page.album_name }}{% else %}mulashwini album{% endif %}"
      }
    }
  }
}
</script>
</amp-analytics>
