*, *::before, *::after {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: #fff;
    color: #000;
}
.rel {
  position: relative;
}
.container {
    display: block;
    width: 100%;
    max-width: 1310px;
    padding: 0 25px;
    margin: 0 auto;
}
.flex-box {
    display: flex;
    height: 100%;
}
.flex-center {
    align-self: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.text-center {
  text-align: center;
}
.marg-bottom {
  margin-bottom: 180px;
}
.marg-bottom-sm {
  margin-bottom: 42px;
}
.marg-bottom-sub {
  margin-bottom: 64px;
}
.marg-bottom-sub-x2 {
  margin-bottom: 128px;
}

header {
  height: 101px;
  width: 100%;
}
header .logo {
  font-family: 'El Messiri', sans-serif;
  text-decoration: none;
  color: #d53332;
  font-size: 48px;
}

.sidebar-img {
    margin-top: 20px;
}
.sidebar-img amp-img {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    display: block;
}
.mainbar-contant {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px;
}
.album-songs {
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.song {
  margin-bottom: 50px;
  width: 33.3333%;
  padding: 20px;
  flex: 1 1 350px;
}
.song h2 {
  color: #3D72A4;
}
.song a {
    color: #fff;
    text-decoration: none;
    background-color: #d53332;
    border-radius: 3px;
    width: 100%;
    max-width: 240px;
    font-weight: 500;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song a svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    margin-right: 15px;
}
.artist-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
.artist-wrapper:first-child {
  margin-left: 0;
}
.artist-wrapper:last-child {
  margin-right: 0;
}
.artist-info {
  position: absolute;
    opacity: 0;
    transition: 0.4s ease;
    visibility: hidden;
    right: -50%;
    bottom: calc(100% + 5px );
    font-size: 12px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-weight: 400;
    width: 100px;
    text-transform: capitalize;
}
.artist-wrapper:hover .artist-info {
    opacity: 1;
    visibility: visible;
}
.artist-wrapper amp-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.main-name {
    color: #d53332;
    display: block;
    font-size: 40px;
}
.recommended-artist, .recommended-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recommended-artist h3, .recommended-all h3 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2em;
}
.recommended-artist h1, .recommended-all h1 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2em;
}
.album {
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    padding: 15px;
}
.album amp-img {
    width: 100%;
    display: block
}
.album p {
    font-weight: 700;
    color: #3D72A4;
    text-align: center;
}
amp-youtube {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}
.song button {
    color: #fff;
    text-decoration: none;
    background-color: #d53332;
    border-radius: 3px;
    width: 100%;
    max-width: 240px;
    font-weight: 500;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    cursor: pointer;
}
.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
.search-form-inner {
    width: 100%;
    display: flex;
    position: relative;
}
input[type="search"] {
    width: 100%;
    border: 3px solid #d53332;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #020202;
    font-family: 'Montserrat', sans-serif;
}
button.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #d53332;
    background: #d53332;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
button.searchButton svg {
    fill: #fff;
    height: 20px;
    width: 20px;
}
@media (max-width: 739px) {
  .song {
    text-align: center;
  }
  .song a, .song button {
      max-width: none;
  }
  .album {
      text-decoration: none;
      width: 100%;
      max-width: 150px;
      padding: 10px;
  }
  .album p {
    font-size: 12px;
  }
  .recommended-artist h3, .recommended-all h3 {
    font-size: 1.5em;
  }
  .recommended-artist h1, .recommended-all h1 {
    font-size: 1.5em;
  }
}
