---
layout: default
title: "Download Ab...Bas! - 2004 hindi album"
description: "Free download Album from Daboo Malik."
metaimg: "http://c.saavncdn.com/content/5/album/O/OGI2N2VmOGIzM2M2OTY1YTliZDBkNzgxYTIwYzE3YzY_-thumb.jpg"
permalink: /albums/Ab---Bas%21
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/content/5/album/O/OGI2N2VmOGIzM2M2OTY1YTliZDBkNzgxYTIwYzE3YzY_-thumb.jpg" alt="Album from Daboo Malik.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Daboo Malik.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Tu Ishq Mera Hai</h2>
                  <p class="song-subtitle">Kunal Ganjawala, Kalpana - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/50a71d6709218239d9ae1ad8e1695560_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kabhi Bindiya Banke</h2>
                  <p class="song-subtitle">Anuradha Paudwal, Kumar Sanu - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/a558043e4b4ea723c475c0f562f1d1a9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mohabbat Karake</h2>
                  <p class="song-subtitle">Kalpana - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/c2d6d5507c15ae26fa9fb20fcd343314_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tere Chehre Pe</h2>
                  <p class="song-subtitle">Udit Narayan, Anuradha Paudwal - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/95bf786ea1cefe4eb381b50ad6662475_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ishara Ishara</h2>
                  <p class="song-subtitle">Sunidhi Chauhan - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/e1e64f5d89172c9853cee490de0cc53b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mohabbat Karake - 1</h2>
                  <p class="song-subtitle">Shaan - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/c807516702191c18a69420334ad85ed1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tere Chehre Pe - 1</h2>
                  <p class="song-subtitle">Udit Narayan, Shreya Ghoshal - Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/b96f7c840fcac873d4021468390416c1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tu Ishq Mera Hai (Instrumental)</h2>
                  <p class="song-subtitle">Ab...Bas!</p>
                  <p class="song-music">Music: Daboo Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/354/f3830b2bfc3f7a8299cba1be8b06b170_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>