---
layout: default
title: "Download Jawani Ke Jalwa - 2017 hindi album"
description: "Free download Album from Basant Giri."
metaimg: "http://c.saavncdn.com/587/Jawani-Ke-Jalwa-Hindi-2017-150x150.jpg"
permalink: /albums/Jawani-Ke-Jalwa
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/587/Jawani-Ke-Jalwa-Hindi-2017-150x150.jpg" alt="Album from Basant Giri.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Basant Giri.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Akhiya Photo Khicle Ba</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/69a47c85bc242f6e27ae9b19dfd6acb8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chal Aaih Ghar Ke Pichuti Sanam</h2>
                  <p class="song-subtitle">Basant Giri, Poonam Pandey - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/e86f76202194badc4f4d6782343d5744_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chal Jai Lahga Par Goli</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/5288e6087c0a31120b06ec9e0216dd6c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chhori Pakrail Biya Tiwisan Me</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/68dc518b532ae5a35744216c5b806660_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Fair Lovlay Laga Ke</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/c43ac7365d19651b859c0d6e5889caf6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Munwa Ke Pyar Me</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/379ec8b14d54faae713e21b42395d793_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sabun Laga Ke Dhowtare</h2>
                  <p class="song-subtitle">Basant Giri - Jawani Ke Jalwa</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/587/242bf20332e4e80434a4e7e9e0e43f67_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>