---
layout: default
title: "Download Chaalis Chauraasi (4084) - 2011 hindi album"
description: "Free download Album from Vishal Rajan."
metaimg: "http://c.saavncdn.com/135/Chaalis-Chauraasi-4084-2011-150x150.jpg"
permalink: /albums/Chaalis-Chauraasi-%284084%29
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/135/Chaalis-Chauraasi-4084-2011-150x150.jpg" alt="Album from Vishal Rajan.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Vishal Rajan.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Chaalis Chauraasi (4084) (Theme)</h2>
                  <p class="song-subtitle">Vishal Rajan - Chaalis Chauraasi (4084)</p>
                  <p class="song-music">Music: Vishal Rajan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/135/d3a97880d4db89f44b07292ebb787f19_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hawa Hawa - 1</h2>
                  <p class="song-subtitle">Lalit Pandit, Neeraj Shridhar, Amitabh Narayan - Chaalis Chauraasi (4084)</p>
                  <p class="song-music">Music: Lalit Pandit</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/135/c60b1affa94538443b7314bb5ee6b5ce_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Badmast</h2>
                  <p class="song-subtitle">Vishal Rajan, Daler Mehndi, Mamta Sharma - Chaalis Chauraasi (4084)</p>
                  <p class="song-music">Music: Vishal Rajan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/135/0dab5622b4d64cb8ff28f4c9d7949c33_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Setting Zaala</h2>
                  <p class="song-subtitle">Vishal Rajan, Sonu Nigam, Amit Kumar, Yashita - Chaalis Chauraasi (4084)</p>
                  <p class="song-music">Music: Vishal Rajan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/135/ef1e2077329d42e65451dac39e0e1598_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hawa Hawa - 2</h2>
                  <p class="song-subtitle">Lalit Pandit, Hassan Jahangir - Chaalis Chauraasi (4084)</p>
                  <p class="song-music">Music: Lalit Pandit</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/135/24924f8c48edf398b5a0813344871313_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>