---
layout: default
title: "Download Eho Kudi Leni Ae - 1993 hindi album"
description: "Free download Album from Param Khurana, Madan Bala Sindhu, and Pandit Jwala Prasad."
metaimg: "http://c.saavncdn.com/558/Eho-Kudi-Leni-Ae-1993-150x150.jpg"
permalink: /albums/Eho-Kudi-Leni-Ae
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/558/Eho-Kudi-Leni-Ae-1993-150x150.jpg" alt="Album from Param Khurana, Madan Bala Sindhu, and Pandit Jwala Prasad.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Param Khurana, Madan Bala Sindhu, and Pandit Jwala Prasad.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Boliyan</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/f052f556df7959473368211106bc977b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jugni</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/0233711df2c79444abf50aaf3a859ea9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Oonchi Addi De Daleepran Wali</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/c2ff721f8f38ebb437590d0ad843e681_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Main Koi Jhoot Boleya Koi Na</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/fc8f61b2dd159f0799be6a4a6edb81a5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Luk Luk Vekhna Ae Kanu</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/50298d16b44eb20b3397fe652416c244_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kalerang Da Paranda</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/2b46a4092f990f43cd7f049a7ca82db7_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ni Bhabhi Kitthe Gal Na Jarin</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/c1858026bdd2e779f74da0741375b749_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Eho Kudi Leni Ae</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/2b4f21e7eda4c988f08449ba6851a0aa_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chan Maahi Je Turyon</h2>
                  <p class="song-subtitle">Pandit Jwala Prasad, Param Khurana, Madan Bala Sindhu - Eho Kudi Leni Ae</p>
                  <p class="song-music">Music: Pandit Jwala Prasad</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/558/d5558eee9dd2c8bc7c8409e7117208c5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>