---
layout: default
title: "Download Hastey Hastey-Follow Your Heart - 2008 hindi album"
description: "Free download Album from Anu Malik."
metaimg: "http://c.saavncdn.com/682/Hastey-Hastey-Follow-Your-Heart-2008-150x150.jpg"
permalink: /albums/Hastey-Hastey-Follow-Your-Heart
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/682/Hastey-Hastey-Follow-Your-Heart-2008-150x150.jpg" alt="Album from Anu Malik.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Anu Malik.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Rock The World</h2>
                  <p class="song-subtitle">Anu Malik, Sunidhi Chauhan, Shaan - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/946f8da8497fbc27a3e32a5b36327f41_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hum Hein</h2>
                  <p class="song-subtitle">Anu Malik, Sunidhi Chauhan - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/486a1aad7936abb2b15cde5076a9fb0d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hastey - Hastey (Sad)</h2>
                  <p class="song-subtitle">Anu Malik, Sunidhi Chauhan, Shivaram Kumar - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/14265a40fecdc3e4d7ae2482291e1a8b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Almadad</h2>
                  <p class="song-subtitle">Anu Malik, Zubeen Garg - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/17491d1a8147fbf93c88ee9795944743_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">New Age Mantra</h2>
                  <p class="song-subtitle">Anu Malik, Sunidhi Chauhan, Kunal Ganjawala - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/510353b94718050594db1011db00f8a4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hastey - Hastey (Happy)</h2>
                  <p class="song-subtitle">Anu Malik, Sunidhi Chauhan, Shivaram Kumar - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/3f353a79c912fd8d9732b83caf22ae05_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bheegi - Bheegi</h2>
                  <p class="song-subtitle">Anu Malik, Kunal Ganjawala - Hastey Hastey-Follow Your Heart</p>
                  <p class="song-music">Music: Anu Malik</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/682/246ebf8102c28096fa18dce356148f2d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>