---
layout: default
title: "Download Kanwar Ki Toliyan - 2006 hindi album"
description: "Free download Album from Tulsi Kumar, Javed Akhtar, and Debashish Dasgupta."
metaimg: "http://c.saavncdn.com/908/Kanwar-Ki-Toliyan-2006-150x150.jpg"
permalink: /albums/Kanwar-Ki-Toliyan
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/908/Kanwar-Ki-Toliyan-2006-150x150.jpg" alt="Album from Tulsi Kumar, Javed Akhtar, and Debashish Dasgupta.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Tulsi Kumar, Javed Akhtar, and Debashish Dasgupta.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Darshan Tera Pana</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/820581c5daf1d52077c9e773f9c33f44_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Leke Kanwar Aaye Tere Dar</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/aefa95801002dace1bf8baca350bbfee_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Huye Abhimaan</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/398409f2c38f3c9be3804fc83b0adc21_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kanwariya Apna Hamko</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/3f31d644419bfecb07baa5fd4da3e6e0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chal Kanwariya Chal</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/daa6ca6e68324d7ea5a3eb26b636c4b7_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tere Dharshan Ki Koshish</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/4a2da1893e5da5ed6b2b098c2b073677_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhole Ke Dham</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/a8a950854d8368ce44a293a508c6f333_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chale Jhoom Jhoom</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/3b4876a581833df718a330beae83dff9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jai Bhole Bhole</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/166956865c1dedf2d9a6834e0aeddf71_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aa Gaye Jo Tere Duwar</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/57d0ad585e38d8b619c3689161652859_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kanwar Mein Sarda Hai</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/0d095c4897c59589f23de1d112f8960c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chalo Re Dham</h2>
                  <p class="song-subtitle">Bhushan Dua, Tulsi Kumar, Javed Akhtar, Debashish Dasgupta, Shailendra Bhartti, Upender Verma, Manoj Mishra, Shivani Chanana - Kanwar Ki Toliyan</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/908/072f3dfd77faaea13b49131e52ba89e0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>