---
layout: default
title: "Download Kanha Ki Bansuriya Pe Dil Aaya Re - 2001 hindi album"
description: "Free download Album from Pandit Ram Avtar Sharma, Surekha, and Bhushan Dua."
metaimg: "http://c.saavncdn.com/793/Kanha-Ki-Bansuriya-Pe-Dil-Aaya-Re-2001-150x150.jpg"
permalink: /albums/Kanha-Ki-Bansuriya-Pe-Dil-Aaya-Re
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/793/Kanha-Ki-Bansuriya-Pe-Dil-Aaya-Re-2001-150x150.jpg" alt="Album from Pandit Ram Avtar Sharma, Surekha, and Bhushan Dua.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Pandit Ram Avtar Sharma, Surekha, and Bhushan Dua.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Meri Jhopdi Ke Bhag Aaj Khul Jaayenge</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/baf583bea0ed8767da0a8686d5bb5088_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jhoola Pad Gai Jhoole Radha Sang Kanhaiya</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/5c3f9c8e90d661c2d5f297ca4d406a5d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kanhaiya Ka Jawaab Nahi</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/e53a4aa6c369fbe6206be40abf041caa_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aao Pyare Krishn Kanhaiya</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/d81ab9ee46a4da51e20f432ef872d588_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sun Yashoda Tero Lalaa</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/e21486e0cc1fd4595c5f1c85b11f1de2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Teri Lalaa Ki Sunke</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/d25434652b9536fba6e5b6656880454b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sajdhaj Ke Baitho Sanwriya</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/afa30d1f4e1f1418c9f387cf86ccac69_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kaanha Ki Baansuriya Pe Dil Aaya Re</h2>
                  <p class="song-subtitle">Bhushan Dua, Pandit Ram Avtar Sharma, Surekha - Kanha Ki Bansuriya Pe Dil Aaya Re</p>
                  <p class="song-music">Music: Bhushan Dua</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/793/92045bf4428cceaaf4e9084f8f306dd6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>