---
layout: default
title: "Download Lara Lappa - 2000 hindi album"
description: "Free download Album from Gursewak Maan and Jaidev Kumar."
metaimg: "http://c.saavncdn.com/854/Lara-Lappa-2000-150x150.jpg"
permalink: /albums/Lara-Lappa
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/854/Lara-Lappa-2000-150x150.jpg" alt="Album from Gursewak Maan and Jaidev Kumar.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Gursewak Maan and Jaidev Kumar.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Badli Badli Tor</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/42260759af11acd9ecbacdd585d1bade_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Makhna</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/ef883257113a5961dbbb5cc0b92b5172_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Vichhoda</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/9d5b5c887b4ccd3c981bb8532c53c0f0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dupatta Gori Da</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/41c4903ae938e80b3e6515d12fc078d0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sadi Vi Gali Ch</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/5d515b88542194f650a9dd212af61ee0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ik Gal</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/f6fa008814f0d1f407aa4cec2046aa19_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Meri Jaan Habiba</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/be2ba55c364978b968f556eed5dce3f8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Lara Lappa</h2>
                  <p class="song-subtitle">Jaidev Kumar, Gursewak Maan - Lara Lappa</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/854/e43c5650c517f6b777bb9527b707bb56_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>