---
layout: default
title: "Download Rang Dalo Holi Aai - 2001 hindi album"
description: "Free download Album from Kumar Sanu and Tripti Shakya."
metaimg: "http://c.saavncdn.com/845/Rang-Dalo-Holi-Aai-2001-150x150.jpg"
permalink: /albums/Rang-Dalo-Holi-Aai
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/845/Rang-Dalo-Holi-Aai-2001-150x150.jpg" alt="Album from Kumar Sanu and Tripti Shakya.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Kumar Sanu and Tripti Shakya.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Mile The Hum Tum Pehli Baar</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/6f8673575520c4ffceb41acdc5bfd197_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Holi Mein Budha Ho Gaya</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/8b76e768d7b0ba195c0de07e623e53c4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhabhi Ji Ko Rang Dalenge</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/c81bdebae205df5426aa6b6a406f34ef_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Rang Lagane Aaunga</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/3a382cab5a4e91197d2a5d810f1ee752_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tere Gore Ang Pe Gori</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/a7b533b04938acb9133025f16f4d4e21_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Rang Dalo Holi Aai</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/5c82559d8facfe305463a9cd8cfd72ef_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Fagun Ka Mausum Aaya Hai</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/aabf15498bd6a9f6b1e96488c096e95f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Holi Hai Rang Daal Do</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/aeec18ed3e54d464b4ec77946e82dfd0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Holi Ka Rang Chadega</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/f4e317451cbe4ccbd33c1de07f182937_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aa Jana Raat Mein</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/8a06019753ef78b52270a852016df708_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kahe Tun Door Humse Jaye</h2>
                  <p class="song-subtitle">Kumar Sanu, Tripti Shakya - Rang Dalo Holi Aai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/845/4c37bba4bbc61d6c06f104485be5884f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>