---
layout: default
title: "Download Vinayaka Mahima - 2016 hindi album"
description: "Free download Album from Ashok Singh and Sachin Gholap."
metaimg: "http://c.saavncdn.com/940/Vinayaka-Mahima-Hindi-2016-150x150.jpg"
permalink: /albums/Vinayaka-Mahima
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/940/Vinayaka-Mahima-Hindi-2016-150x150.jpg" alt="Album from Ashok Singh and Sachin Gholap.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Ashok Singh and Sachin Gholap.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Saath Mujhko Pyara</h2>
                  <p class="song-subtitle">Ashok Singh - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/cc74b09b1b88f8791d10816e1050e9a4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mata Pita</h2>
                  <p class="song-subtitle">Ashok Singh - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/24c59a0f8a71436e3c8abd364271ce54_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Siddhivinayak Tu</h2>
                  <p class="song-subtitle">Ashok Singh - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/03bf04c6bdf143522b17db65c0af6e51_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Gouri Ganesha</h2>
                  <p class="song-subtitle">Ashok Singh - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/880209c40dd30437d28b89e8e5e107df_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sare Jag Mei Wo</h2>
                  <p class="song-subtitle">Sachin Gholap - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/1600e80c98610052fadeaa5cd4998783_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tu Shaktidata</h2>
                  <p class="song-subtitle">Sachin Gholap - Vinayaka Mahima</p>
                  <p class="song-music">Music: Miten Chhadva</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/940/e852021046d850bbe0f8a2b8cf5275e2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>