---
layout: default
title: "Download Wah Dharti Punjab Diye - 1996 hindi album"
description: "Free download Album from Giani Charan Singh Bhoura, Lachhman Singh Chopra, and Pargat Singh Shounki."
metaimg: "http://c.saavncdn.com/093/Wah-Dharti-Punjab-Diye-1996-150x150.jpg"
permalink: /albums/Wah-Dharti-Punjab-Diye
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/093/Wah-Dharti-Punjab-Diye-1996-150x150.jpg" alt="Album from Giani Charan Singh Bhoura, Lachhman Singh Chopra, and Pargat Singh Shounki.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Giani Charan Singh Bhoura, Lachhman Singh Chopra, and Pargat Singh Shounki.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Ghodi Gaavo Mere Veer Di</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/1303855232ed88ce8a650e72ce666788_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dunia Matlab Di</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/a659b3d284779d9e741d7d4f0c1de09a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Khidiyan Guljaran</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/5b4324f4cfc5a08a7f7ff7d1f65eb29f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Phadan Phokiyan Bathere Loki Maarde</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/f28d80dc1fefeac3dbef9ecda6a380c2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ghabroo Desh Punjab Da</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/81cfb81823fc0bf1bd249fb785dfea0b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Wah Wah Dharti Punjab Diye</h2>
                  <p class="song-subtitle">Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki - Wah Dharti Punjab Diye</p>
                  <p class="song-music">Music: Giani Charan Singh Bhoura, Lachhman Singh Chopra, Pargat Singh Shounki, Swaraj Singh Shounki</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/093/bb3b569e44e57a29ad962b5df7bb2298_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>