---
layout: default
title: "Download Waliyon Ka Madina - 2000 hindi album"
description: "Free download Album from Aarif Khan, Haji Tasleem Aarif, and Allwin Brown."
metaimg: "http://c.saavncdn.com/125/Waliyon-Ka-Madina-2000-150x150.jpg"
permalink: /albums/Waliyon-Ka-Madina
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/125/Waliyon-Ka-Madina-2000-150x150.jpg" alt="Album from Aarif Khan, Haji Tasleem Aarif, and Allwin Brown.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Aarif Khan, Haji Tasleem Aarif, and Allwin Brown.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Ye Waliyo Ka Madeena Hai</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/871c15bea6353d21e5419ec80ea2d4c9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ye Bhi Ek Inaam Chhote Bade Sarkaar</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/0877321b59cdc1e5bbc7d8b107ddfe05_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Shukriya Charagaro Meri Dava Rahne</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/8557a449714269413ffeec1b791ab7d2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Badayun Wale Sultaan Ji</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/607860484f63301b663d0e884f119407_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sultan Ka Mela Aata Hai</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/00e6a8879a6cf35216f8a28c1f8ff940_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hind Mein Badayun Bhi Ek Ajeem Basti Hai</h2>
                  <p class="song-subtitle">Allwin Brown, Aarif Khan, Haji Tasleem Aarif - Waliyon Ka Madina</p>
                  <p class="song-music">Music: Allwin Brown</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/125/4662c829831c09126eaf783f9ad734cb_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>