---
layout: default
title: "Download Sheraz Khan Jokes - 2007 hindi album"
description: "Free download Album from Sheraz Khan."
metaimg: "http://c.saavncdn.com/610/Sheraz-Khan-Jokes-2007-150x150.jpg"
permalink: /albums/Sheraz-Khan-Jokes
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/610/Sheraz-Khan-Jokes-2007-150x150.jpg" alt="Album from Sheraz Khan.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Sheraz Khan.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Aadarniye Mallika Sherawat</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/9261092dc6a3336d9fb792203c1531a9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aap Nadi Me Girengi</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/fa59fad52068d964be22443521949340_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Achha Dost Aur Sacha Dost</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/12f5af66e4ed56f4cfed0e96be30f234_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ae Atal Ji Ka Kha Rahe Hain</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/c521f5e04590ffcf239d6299d11387b8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Agar Chirag Le Kar</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/b38974c0892edffaca85ea4f59137d6c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Are O Chhamiya</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/cb3e6061a26cd0e0057722bf72f37df5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Baba Mera Hath Dekhkar</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/757acb14bf2359b78a0209f243dcfeee_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhai Ram Lal</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/d1fac01eae5bc5d50b16f0802fefb145_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhakto Mera Pravachan</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/01f5dc20d9ba7b1ba4c88ddf44e674bd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhudha Gusse Mein</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/27ecee63bfd1c89ce1fd198c2d167e64_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Billi Dudh Pee Gayi</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/dc07879b3a145ab4ec2e8c9339f4fded_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bolo Ram Bhakto</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/db9238dcde5535a227c13cbbcd8d017a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chali Chali Phir Hawa</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/9a8f5bed8178b573af31ce2e3b21d07a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chhuti Chahiye</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/e3c96fe2a8548ca953168159e18f69cc_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chinese Ladki Se Shadi</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/84e2699f4d975b20df9ee151ec07aa1e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Darling Bus Ek</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/0f41909e4dc4178cbd79e0a9fbf6f345_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Darling Main Tumhe</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/1e4db30b32ac9f9c758bda7f5765cc29_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Aadmi Ne Apne Dost</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/e9972ecdb918335b1b2d132bcaea0622_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Aalsi Naai Ki Dukaan</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/f66a6a37c6715ce21d0461ba2ce7b37d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Andhe Ke Atharah Bache</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/06b115defd9e1574e912e8f8ea6b76ab_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Din Main Sharab Pee Ke</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/cffe9810d01bddbf648003431931119a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Director Heroine Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/44affef01c3caf4e36467debefcd885a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Ladka Cycle Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/2ab77a5f0fce1d54f0814d0c4e6aa49c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Ladka Ek Ladki</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/21fee1cbc32a3caca71f1020e1d33128_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Ladki Apne Jija Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/5d82f4bb29f29871e1be3b519e847ec3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Nurse Aurat Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/0a3cd7cc7ecd3794b1683ea827f72444_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Pathaan Ek Patle</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/b60b0f9dc574fa67cc6d74d50072cf25_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Teacher Ne Bache Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/42538c980f870dfc82b40ad8e3542822_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Gulshan Grover Ek</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/0a91e535f71bf153a7a77d4cff6e371c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Haan Mata Ji Muh Kholiye</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/a7c03ab9b90a902b70b705c8b7b38dc4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Har Wo Cheej</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/8ea9652ea5b3ebcf8a31267a6222a4e6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jab Main Kunwara Tha</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/010cfbe5452049e39864cb5225008972_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jis Din Mere Ghar Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/c80d0a5ac0236bed95435d4bf64aad86_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kal Raat Main Ek</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/8cdb00623783f8d49e7106caf520c4a3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kya Aapko Juth Bolne</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/6de8a76708486ebf9c9126a8139181c7_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Lalu Yadav Ek Din</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/840568ec6732fbcd2f63e11ecad35429_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mahangai Ke Kaaran</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/56c9b41bded05eb1c63bc49419b74223_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Main Apni Patni Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/1f0298cfda3d6a926018c3da0d08f1f5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Main Maa Ki Baat</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/afbd3b5e89665d2e246b76882b7f7e14_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Main Moti Ho Gayi</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/fa255d90b9845c42af6db5cd39dfc807_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mallika Sherawat Baba Ramdev</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/a639d686c69f811f357bc104d3911099_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mera Baap Mar Gaya</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/4b158c650b45ba76559b5315675dc8a8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Meri Gharwali Mujhse</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/dbe1ded276b60c468ecfa8c3dad1e612_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Na Gila Karunga Na Shikwa</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/52a8ed0205c696b8af6341a43925df40_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Natak Me Role Mila</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/d1a6e72f732901f40c975ef528177f57_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Nayi Nayi Shadi</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/ce208192a3d215dba601ea385aac3283_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Pandit Ji Ram Ram</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/bf8b3fe570fb33adb1dc1a2d078e911c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Pati Ne Patni Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/f4661026c5a26fc19a594ada748170ca_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Pati Patni Sath Mein</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/e39e0be8cc53d93551d9fbde47bb5fc9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Premi Ne Premika Se Kaha</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/4c715cd81559ad78fa5c7f7ac5a7c31f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Premika Ne Premi Se</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/69b355eae0c162d17f837f4bab147395_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaar Gaon Ja Rahe Ho</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/af41839010f52d91cfe4052681d113fd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaar Maine Suna</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/e2bb26939a3c921fc887be7224cca5c8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaar Mere Do Bete Hain</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/ccf8312f41806c64020c60b55e3edd3d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaar Meri Shadi Ko</h2>
                  <p class="song-subtitle">Sheraz Khan - Sheraz Khan Jokes</p>
                  <p class="song-music">Music: Sheraz Khan</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/610/facc6697937b8297414cf0c31190a264_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>