---
layout: default
title: "Download Ek Baar Kaho Gaman Chashm - E - Buddoor - 1996 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/000/default_Saregama_150x150.jpg"
permalink: /albums/Ek-Baar-Kaho-Gaman-Chashm---E---Buddoor
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/000/default_Saregama_150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Raakh Ke Dher Ne</h2>
                  <p class="song-subtitle">Bappi Lahiri, Jagjit Singh, Arati Mukherjee - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Bappi Lahiri</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/5cddc1dd44872fc123cb8cfd67601f48_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aapki Yaad Aati Rahi Raat Bhar</h2>
                  <p class="song-subtitle">Jaidev Kumar, Chhaya Ganguli - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/0283f171ffa9a21672f868c0e574cb42_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Baar Kaho Mujhe Pyar Karte Ho</h2>
                  <p class="song-subtitle">Bappi Lahiri, Sulakshana Pandit - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Bappi Lahiri</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/ba5fe15103078de6d58be852f35d23ac_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yeh Zindagi Char Din Ki</h2>
                  <p class="song-subtitle">Bappi Lahiri - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Bappi Lahiri</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/a1212d6708736d3157e38a67cb8ea154_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Char Din Ki Zindagi Hai</h2>
                  <p class="song-subtitle">Bappi Lahiri, K.J. Yesudas - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Bappi Lahiri</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/b325bb9ba094c1f79b94941a0c5d5bf0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Seene Mein Jalan</h2>
                  <p class="song-subtitle">Jaidev Kumar, Suresh Wadkar - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/55ae145b0863e4e587bcb4fcb288c51e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ajeeb Saaneha Mujh Par Guzar Gaya</h2>
                  <p class="song-subtitle">Jaidev Kumar, Hariharan - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/6f3f08eea0a35796fdf260f1c96dd37b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Nausha Amiron Ka</h2>
                  <p class="song-subtitle">Jaidev Kumar, Hira Devi Mishra - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Jaidev Kumar</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/6428e66ada1a423c7b820528d1083d5b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kahan Se Aaye Badra</h2>
                  <p class="song-subtitle">Rajkamal, Haimanti Shukla, K.J. Yesudas - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Rajkamal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/c2ec27deb4d76d18dfa7bd46924f7a95_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kali Ghodi Dwar Khadi</h2>
                  <p class="song-subtitle">Rajkamal, K.J. Yesudas, Haimanti Shukla - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Rajkamal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/6ae3a7012b770b8ed521aa88014b065e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ansoo Ki Aarti</h2>
                  <p class="song-subtitle">Rajkamal, Haimanti Shukla - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Rajkamal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/636e1764e9ce2a7472cd9a36c3b13549_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Is Nadi Ko Mera</h2>
                  <p class="song-subtitle">Rajkamal, Shailendra Singh, Haimanti Shukla - Ek Baar Kaho Gaman Chashm - E - Buddoor</p>
                  <p class="song-music">Music: Rajkamal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/985/7799aa04e0e3c8a2d2206f0f96aaa255_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>