---
layout: default
title: "Download Lakshmi Shankar And Nirmala Devi - 2006 hindi album"
description: "Free download Album from Lakshmi Shankar."
metaimg: "http://c.saavncdn.com/000/default_Saregama_150x150.jpg"
permalink: /albums/Lakshmi-Shankar-And-Nirmala-Devi
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/000/default_Saregama_150x150.jpg" alt="Album from Lakshmi Shankar.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Lakshmi Shankar.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Naina More Taras Gaye (Thumri)</h2>
                  <p class="song-subtitle">Lakshmi Shankar, Nirmala Devi - Lakshmi Shankar And Nirmala Devi</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/717/7045af9051a2ea5968040699f051e632_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sawan Beeta Jaye ( Thumri ) - Nirmala Devi &amp; Lakshmi Shankari</h2>
                  <p class="song-subtitle">Nirmala Devi, Lakshmi Shankar - Lakshmi Shankar And Nirmala Devi</p>
                  <p class="song-music">Music: Khansahib Abdul Rehman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/717/c9cfde9df2dbcc6aa1bad556f62a4d19_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Na Mane - Nirmala Devi &amp; Lakshmi Shankar</h2>
                  <p class="song-subtitle">Nirmala Devi, Lakshmi Shankar - Lakshmi Shankar And Nirmala Devi</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/717/0ca94fc0913965ee53b9c647ea3e8c0b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kare Manmani - Nirmala Devi &amp; Lakshmi Shankari</h2>
                  <p class="song-subtitle">Lakshmi Shankar, Nirmala Devi - Lakshmi Shankar And Nirmala Devi</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/717/5b94d7d61e66fe9cb849faefca20f902_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>