---
layout: default
title: "Download Ustad Amir Khan - Megh &amp; Darbari Kanarha - Vol 1 - 2000 hindi album"
description: "Free download Album from Ustad Amir Khan."
metaimg: "http://c.saavncdn.com/000/default_Saregama_150x150.jpg"
permalink: /albums/Ustad-Amir-Khan---Megh-%26amp%3B-Darbari-Kanarha---Vol-1
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/000/default_Saregama_150x150.jpg" alt="Album from Ustad Amir Khan.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Ustad Amir Khan.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Raag Megh - Ustad Amir Khan</h2>
                  <p class="song-subtitle">Ustad Amir Khan - Ustad Amir Khan - Megh &amp; Darbari Kanarha - Vol 1</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/636/5b5ffe1992c9d77d1a1a64020ebbab37_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Raga Darbari Kanarha - Ustad Amir Khan</h2>
                  <p class="song-subtitle">Ustad Amir Khan - Ustad Amir Khan - Megh &amp; Darbari Kanarha - Vol 1</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/636/9fe96c88de01b1f97a3fe18dddcecf2d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>