---
layout: default
title: "Download Yeh Alag Baat Hai - 1991 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/890/Yeh-Alag-Baat-Hai-1991-150x150.jpg"
permalink: /albums/Yeh-Alag-Baat-Hai
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/890/Yeh-Alag-Baat-Hai-1991-150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Chatur Naar(Remix)</h2>
                  <p class="song-subtitle">R.D. Burman, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: R.D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/1be1d32632c376d1bf353a1847b758a6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tabahi Mach Gai</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/9ecbcb465d78a6da0553beeb7eaef860_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Salam</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/6f94a8ad0406c64b00bfc00d29e57021_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mahi</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/4deb3092b2246bf419b3bf612ca88528_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sawaria</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/bbc0f6700e5d5967e6d774f14080a79f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dhoonmde Kisi Ko</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/dda2605154ac29e463280abd40e002b0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chayya Hai</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/eae058f2b2db0433205a5b6cd4e5c40d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yeh Alag Baat Hai</h2>
                  <p class="song-subtitle">Amod Bhatt, Sreekant - Yeh Alag Baat Hai</p>
                  <p class="song-music">Music: Amod Bhatt</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/890/01e22f25ae50d6f9b3be2da5145b2963_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>