---
layout: default
title: "Download Main Patang Hoon Pyare - 2017 hindi album"
description: "Free download Album from Sandeep Bansal."
metaimg: "http://c.saavncdn.com/713/Main-Patang-Hoon-Pyare-Hindi-2017-150x150.jpg"
permalink: /albums/Main-Patang-Hoon-Pyare
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/713/Main-Patang-Hoon-Pyare-Hindi-2017-150x150.jpg" alt="Album from Sandeep Bansal.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Sandeep Bansal.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Main Patang Hoon Pyare</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/f59fb0338b523e460202c1b4cc26af41_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Diwana Shyam Dhani Ka</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/283bd441d6d9d90ecfdfb2d7a5fcc964_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sanwre Ki Daya</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/4a95a4e5dec4f667338641a4ddb89105_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mujhe Khatu Bula Lena</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/6e316b63b157255c2821d7935066307d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ye Baal Ghunghrale</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/0e242a2ea0ceecafa2a61d05505d97ad_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Shyam Di Jogan</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/f488b63e95f1976d4132d1fa0cf80239_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mere Naseeb Mein</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/386d2986f912600b8f4781eb2db0943f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mennu Morni Bana De</h2>
                  <p class="song-subtitle">Sandeep Bansal - Main Patang Hoon Pyare</p>
                  <p class="song-music">Music: Ravi Chopra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/713/801c2fbbe1ed4176a6216c54862aa850_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>