---
layout: default
title: "Download Mazdoor Ki Laash - 2017 hindi album"
description: "Free download Album from Salim Nehaly."
metaimg: "http://c.saavncdn.com/365/Mazdoor-Ki-Laash-Hindi-2017-20170803043640-150x150.jpg"
permalink: /albums/Mazdoor-Ki-Laash
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/365/Mazdoor-Ki-Laash-Hindi-2017-20170803043640-150x150.jpg" alt="Album from Salim Nehaly.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Salim Nehaly.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Kafan Maang Raha Hoon</h2>
                  <p class="song-subtitle">Salim Nehaly - Mazdoor Ki Laash</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/365/29e15f2a4f11ed1f8897f3e87688e25d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ghar Jalta Hai</h2>
                  <p class="song-subtitle">Salim Nehaly - Mazdoor Ki Laash</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/365/923de893e184d991a54a386725444a7c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mitti</h2>
                  <p class="song-subtitle">Salim Nehaly - Mazdoor Ki Laash</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/365/c46df55f2091bd9d409ae6df9c61e9fb_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Paapan</h2>
                  <p class="song-subtitle">Salim Nehaly - Mazdoor Ki Laash</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/365/1b73c7d26ad67ebbced052dc8365561b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>