---
layout: default
title: "Download Rock With Bollywood - 2013 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/117/Rock-With-Bollywood-2013-150x150.jpg"
permalink: /albums/Rock-With-Bollywood
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/117/Rock-With-Bollywood-2013-150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Rishtey (From &quot; Life In A Metro&quot;)</h2>
                  <p class="song-subtitle">Pritam, James - Rock With Bollywood</p>
                  <p class="song-music">Music: Pritam</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/6eeedc99e76f9972847d45a4d42057ef_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hum Jee Lenge (From &quot; Murder 3&quot;) (Rock Version)</h2>
                  <p class="song-subtitle">Roxen, Mustafa Zahid - Rock With Bollywood</p>
                  <p class="song-music">Music: Roxen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/e6ef49c6654119b049859afc121a75b2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tum Mile (From &quot; Tum Mile&quot;) (Rock)</h2>
                  <p class="song-subtitle">Pritam, Shafqat Amanat Ali - Rock With Bollywood</p>
                  <p class="song-music">Music: Pritam</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/197a18fcc41b56b706aec8e12aed3612_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Alvida (From &quot; Life In A Metro&quot;) (Reprise)</h2>
                  <p class="song-subtitle">Pritam, James - Rock With Bollywood</p>
                  <p class="song-music">Music: Pritam</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/6ac4c7b3bc32a509d0522bca6a06f852_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaaron (From &quot; Pal&quot;)</h2>
                  <p class="song-subtitle">KK - Rock With Bollywood</p>
                  <p class="song-music">Music: Leslee Lewis</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/8fe6b5a31039db0a33da436edad4f265_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mit Jaaye (From &quot; Kidnap&quot;) (Rock Version by Hyacinth D&#039;Souza)</h2>
                  <p class="song-subtitle">Sandeep Vyas, Sanjeev Vyas - Rock With Bollywood</p>
                  <p class="song-music">Music: Sandeep Vyas, Sanjeev Vyas</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/a45a3669b4248523e3706fdb4efc4891_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Zara Sa (From &quot; Jannat &quot;) (Power Ballad)</h2>
                  <p class="song-subtitle">Pritam, KK - Rock With Bollywood</p>
                  <p class="song-music">Music: Pritam</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/7ac52ed29831b957e61cae065c73aa5d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dil Ibaadat (From &quot; Tum Mile&quot;) (Rock)</h2>
                  <p class="song-subtitle">Pritam, KK - Rock With Bollywood</p>
                  <p class="song-music">Music: Pritam</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/e205bf043c119706df2f964bb9e8a952_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Aap Ki Dua (From &quot; Pal&quot;)</h2>
                  <p class="song-subtitle">KK - Rock With Bollywood</p>
                  <p class="song-music">Music: Leslee Lewis</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/f6c18c6d0a168cc5c5aede35fcbef13e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Shaam Tanha (From &quot; Agnee&quot;)</h2>
                  <p class="song-subtitle">Agnee - Rock With Bollywood</p>
                  <p class="song-music">Music: Agnee</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/0a6d8c3f6b8c23f0ff38e2de6874716b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Maahi (From &quot; RAAZ - The Mystery Continues&quot;) (Rock with Me)</h2>
                  <p class="song-subtitle">Toshi Sabri - Rock With Bollywood</p>
                  <p class="song-music">Music: Toshi Sabri, Sharib Sabri</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/5fc882eae984ee3a4b921f6ee256d574_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Najanay Kyun (From &quot; Dhaani&quot;)</h2>
                  <p class="song-subtitle">Bilal Maqsood, Faisal Kapadia - Rock With Bollywood</p>
                  <p class="song-music">Music: Bilal Maqsood</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/117/1f67fcbed684bdff0ade0783ae858e41_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>