---
layout: default
title: "Download Sai Ki Chali Palki - 2014 hindi album"
description: "Free download Album from Shailendra Sachdeva."
metaimg: "http://c.saavncdn.com/016/Sai-Ki-Chali-Palki-Hindi-2014-20170822133437-150x150.jpg"
permalink: /albums/Sai-Ki-Chali-Palki
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/016/Sai-Ki-Chali-Palki-Hindi-2014-20170822133437-150x150.jpg" alt="Album from Shailendra Sachdeva.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Shailendra Sachdeva.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Aaj Sudhama</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/d0b907013aa7db01f05f935b242b03ac_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ab Toh Maakhan Chori</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/d59b43e532fb8dfd8fd8947ecbf9dee2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kya Kya Na Kiya</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/6256f4e720ee6bdc70a0cd2720ead46c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bin Radha Tu Aadha</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/6acbae7321db390016a3cbb598d11170_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Roothe Roothe Se Kanha</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/3c5c026607808a231edee45b33d69265_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Govind Gopal</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/5f42f7586b10a14d826910e564006af1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Shri Krishna</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/66e8a6a4709e0453885d7d559bfbd963_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Holi Khele Hai</h2>
                  <p class="song-subtitle">Shailendra Sachdeva - Sai Ki Chali Palki</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/016/ac0d510315f1e1296c3fec61f614c25b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>