---
layout: default
title: "Download Ek Aur Ekk Gyaraah - 1980 hindi album"
description: "Free download Album from Laxmikant - Pyarelal."
metaimg: "http://c.saavncdn.com/422/Ek-Aur-Ekk-Gyaraah-Hindi-1980-150x150.jpg"
permalink: /albums/Ek-Aur-Ekk-Gyaraah
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/422/Ek-Aur-Ekk-Gyaraah-Hindi-1980-150x150.jpg" alt="Album from Laxmikant - Pyarelal.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Laxmikant - Pyarelal.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Aao Koi Baat Karen</h2>
                  <p class="song-subtitle">Laxmikant - Pyarelal, Kishore Kumar - Ek Aur Ekk Gyaraah</p>
                  <p class="song-music">Music: Laxmikant - Pyarelal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/422/a8bea21dc75f57039932f3e3756e865b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Gharibon Ki Holi</h2>
                  <p class="song-subtitle">Laxmikant - Pyarelal, Kishore Kumar, Asha Bhosle, Hemlata - Ek Aur Ekk Gyaraah</p>
                  <p class="song-music">Music: Laxmikant - Pyarelal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/422/519db64415b9bb583e73055955745434_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hum Hain Ek Aur Ek Gyarah</h2>
                  <p class="song-subtitle">Laxmikant - Pyarelal, Kishore Kumar, Mohammed Rafi - Ek Aur Ekk Gyaraah</p>
                  <p class="song-music">Music: Laxmikant - Pyarelal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/422/f8ddce7ff03ed1fcbcae1acb40d4ffbe_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Oh Jaani Aafat Tumhari</h2>
                  <p class="song-subtitle">Laxmikant - Pyarelal, Mohammed Rafi, Asha Bhosle - Ek Aur Ekk Gyaraah</p>
                  <p class="song-music">Music: Laxmikant - Pyarelal</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/422/91d0f86d14e134654dbb86b61e24ea6a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>