---
layout: default
title: "Download Premnagar - 1974 hindi album"
description: "Free download Album from S. D. Burman."
metaimg: "http://c.saavncdn.com/061/Premnagar-Hindi-1974-20190416101929-150x150.jpg"
permalink: /albums/Premnagar
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/061/Premnagar-Hindi-1974-20190416101929-150x150.jpg" alt="Album from S. D. Burman.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from S. D. Burman.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Kiska Mahal Hai Kiska Yeh Ghar Hai</h2>
                  <p class="song-subtitle">S. D. Burman, Lata Mangeshkar, Kishore Kumar - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/caf3b93b1ea67028fbc49cc13c1d5a7e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yeh Lal Rang Kab Mujhe Chhodega</h2>
                  <p class="song-subtitle">S. D. Burman, Kishore Kumar - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/30b4eb39051c4e239b1e3c777603c335_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jaa Jaa Jaa</h2>
                  <p class="song-subtitle">S. D. Burman, Kishore Kumar - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/10a301b803848eb34131e55d68950790_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yeh Thandi Hawayen</h2>
                  <p class="song-subtitle">S. D. Burman, Kishore Kumar, Asha Bhosle - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/399a6e14f42d1181aa8838ebdde600a2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yeh Kaisa Sur Mandir</h2>
                  <p class="song-subtitle">S. D. Burman, Lata Mangeshkar - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/fc9aa070ca2cf08c110dc6175103182f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bye Bye Miss Good Night</h2>
                  <p class="song-subtitle">S. D. Burman, Kishore Kumar - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/3b3b8ceb1b4c2af2051750f9b4ab5018_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Pyase Do Badan Pyasi Raat Mein</h2>
                  <p class="song-subtitle">S. D. Burman, Asha Bhosle - Premnagar</p>
                  <p class="song-music">Music: S. D. Burman</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/061/9a19b7dac54dd658b4a2ab55bca7bdd1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>