---
layout: default
title: "Download Surya Aaradhana - 2000 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/255/Surya-Aaradhana-2000-150x150.jpg"
permalink: /albums/Surya-Aaradhana
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/255/Surya-Aaradhana-2000-150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">He Surya Devata Aao</h2>
                  <p class="song-subtitle">Pamela - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/3e0786d8e3def0fa66714ae3d8c92b11_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kiran Kiran Milkar Suraj Se</h2>
                  <p class="song-subtitle">Shailendra Bhartti - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/6d0fdcf887c8c67258e18ed8995a67b1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mukh Purab Karo</h2>
                  <p class="song-subtitle">Rajshree - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/6b866db34fb68c3cae7c3443880e652c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Subah Subah Tu</h2>
                  <p class="song-subtitle">Shailendra Bhartti, Rajshree - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/0e28fb6422ecab2b40d94f62e9ea7e9a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Surya Aarti</h2>
                  <p class="song-subtitle">Kumar Sanu, Mukesh, Shishir, Keya - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/a93f6bcd33b48aae69b8e8d4621eb599_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Surya Chalisa</h2>
                  <p class="song-subtitle">Shailendra Bhartti - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/a62f1ec5f613979a93073a6be0cb9b88_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Surya Katha Avam Vrat</h2>
                  <p class="song-subtitle">Aadarsh Gautam - Surya Aaradhana</p>
                  <p class="song-music">Music: Triveni, Bhavani</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/255/227f9a8e17405ff4670cc4ba57a146a9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>