---
layout: default
title: "Yadon Ke Tarane - 2013 Album Songs Download - Free Online Songs"
description: "Download mp3 and Listen to Yadon Ke Tarane songs Online on Mulashwini. Hindi music album by Nitesh Raj 1. Ek Hi Kalam Hai - Nitesh Raj, 2. Pal Pal - Nitesh Raj, 3. Jab Bhi Tum - Nitesh Raj, 4. Roshni Ko - Nitesh Raj, 5. Us Roj Tum - Anjani Shrivastava"
metaimg: "http://c.saavncdn.com/389/Yadon-Ke-Tarane-2013-150x150.jpg"
permalink: /albums/Yadon-Ke-Tarane
album_name: "Yadon Ke Tarane"
---
<div class="sidebar-img">
  <amp-img src="http://c.saavncdn.com/389/Yadon-Ke-Tarane-2013-500x500.jpg" alt="Album from Nitesh Raj." width="500" height="500" layout="responsive"></amp-img>
</div>
<div class="mainbar-contant">
  <h1 class="text-center">Download free mp3 songs from album <span class="main-name"> Yadon Ke Tarane</span></h1>
  <div class="album-songs">
    
                        <div class="song">
                          <h2 class="song-title">Ek Hi Kalam Hai</h2>
                          <p class="song-subtitle">Nitesh Raj - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Nitesh Raj</span><amp-img src="http://c.saavncdn.com/828/Lamhar-Pichkari-Bhojpuri-2018-20180221-150x150.jpg" alt="Nitesh Raj" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/9d12b1f5b5f57e18ae7d298801c2cc65_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jumma Jumma</h2>
                          <p class="song-subtitle">Anjani Shrivastava - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/bf1d75a8fb0a7a947593a23d4269906c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jab Bhi Tum</h2>
                          <p class="song-subtitle">Nitesh Raj - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Nitesh Raj</span><amp-img src="http://c.saavncdn.com/828/Lamhar-Pichkari-Bhojpuri-2018-20180221-150x150.jpg" alt="Nitesh Raj" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Dr. R.K.S. Chauhan</span><amp-img src="/img/profile.png" alt="Dr. R.K.S. Chauhan" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/f0b6646254b912c2ab962235edf85e02_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Pal Pal</h2>
                          <p class="song-subtitle">Nitesh Raj - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Nitesh Raj</span><amp-img src="http://c.saavncdn.com/828/Lamhar-Pichkari-Bhojpuri-2018-20180221-150x150.jpg" alt="Nitesh Raj" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Ankita Parmar</span><amp-img src="/img/profile.png" alt="Ankita Parmar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/f98d816aaf407074cd471ec7133aa5b6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Us Roj Tum</h2>
                          <p class="song-subtitle">Anjani Shrivastava - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/35d8c3414d54dc1d9d803f643c44153f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Roshni Ko</h2>
                          <p class="song-subtitle">Nitesh Raj - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Nitesh Raj</span><amp-img src="http://c.saavncdn.com/828/Lamhar-Pichkari-Bhojpuri-2018-20180221-150x150.jpg" alt="Nitesh Raj" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Prabhat Pandey</span><amp-img src="http://c.saavncdn.com/258/Gori-Aaj-Hawe-Naya-Sal-Re-Bhojpuri-2019-20190820035030-150x150.jpg" alt="Prabhat Pandey" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/f81f1ce9aa02c7d7d4620d6ad78f9df3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Insaff Chahiye</h2>
                          <p class="song-subtitle">Nitesh Raj - Yadon Ke Tarane</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Geeta Parmar</span><amp-img src="/img/profile.png" alt="Geeta Parmar" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">music<br>Anjani Shrivastava</span><amp-img src="/img/profile.png" alt="Anjani Shrivastava" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Nitesh Raj</span><amp-img src="http://c.saavncdn.com/828/Lamhar-Pichkari-Bhojpuri-2018-20180221-150x150.jpg" alt="Nitesh Raj" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Manjit Singh</span><amp-img src="http://c.saavncdn.com/823/Beauty-Queen-Punjabi-2019-20190405174727-150x150.jpg" alt="Manjit Singh" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Geeta Parmar, Anjani Shrivastava</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/389/05be5730718d51247a745d34b42d3941_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
  </div>
  <div class="recommended-artist">
    <h3>Similar songs from your favourite artist!</h3>
    
                                                    <a href="/albums/Parchhawan-Me-Jija-Sanghe-Khub-Nachani" class="album">
                                                      <amp-img src="http://c.saavncdn.com/009/Parchhawan-Me-Jija-Sanghe-Khub-Nachani-Hindi-2020-20200323100953-150x150.jpg" alt="Parchhawan Me Jija Sanghe Khub Nachani" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Parchhawan Me Jija Sanghe Khub Nachani</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Vigo-Par-Ke-Bhatar-Maja-Mare-Lagatar" class="album">
                                                      <amp-img src="http://c.saavncdn.com/016/Vigo-Par-Ke-Bhatar-Maja-Mare-Lagatar-Hindi-2020-20200323101012-150x150.jpg" alt="Vigo Par Ke Bhatar Maja Mare Lagatar" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Vigo Par Ke Bhatar Maja Mare Lagatar</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Doodh-Piyake-Leta-Hai-Ahira-Ke-Beta" class="album">
                                                      <amp-img src="http://c.saavncdn.com/958/Doodh-Piyake-Leta-Hai-Ahira-Ke-Beta-Hindi-2020-20200323100619-150x150.jpg" alt="Doodh Piyake Leta Hai Ahira Ke Beta" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Doodh Piyake Leta Hai Ahira Ke Beta</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Suraj-Premi-Maja-Mar-Lewe" class="album">
                                                      <amp-img src="http://c.saavncdn.com/989/Suraj-Premi-Maja-Mar-Lewe-Hindi-2020-20200323100606-150x150.jpg" alt="Suraj Premi Maja Mar Lewe" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Suraj Premi Maja Mar Lewe</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Mata-Parvati-Ke-Mandiriya-Cham-Cham-Chamake-Ho" class="album">
                                                      <amp-img src="http://c.saavncdn.com/941/Mata-Parvati-Ke-Mandiriya-Cham-Cham-Chamake-Ho-Hindi-2020-20200323100624-150x150.jpg" alt="Mata Parvati Ke Mandiriya Cham Cham Chamake Ho" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Mata Parvati Ke Mandiriya Cham Cham Chamake Ho</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Kunware-Me-Kaila-Jaldhari" class="album">
                                                      <amp-img src="http://c.saavncdn.com/965/Kunware-Me-Kaila-Jaldhari-Hindi-2020-20200323100621-150x150.jpg" alt="Kunware Me Kaila Jaldhari" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Kunware Me Kaila Jaldhari</p>
                                                    </a>
                                                    
  </div>
  <div class="recommended-all">
    <h3>All time favourite albums</h3>
    
                            <a href="/albums/Love-You-Dad---Celebrating-Fathers-Day" class="album">
                              <amp-img src="http://c.saavncdn.com/911/Love-You-Dad-Celebrating-Fathers-Day-Hindi-2018-20180530-150x150.jpg" alt="Love You Dad - Celebrating Fathers Day" width="150" height="150" layout="responsive"></amp-img>
                              <p>Love You Dad - Celebrating Fathers Day</p>
                            </a>
                            
                            <a href="/albums/Atif-Hit-Story" class="album">
                              <amp-img src="https://c.saavncdn.com/919/Atif-Hit-Story-2013-150x150.jpg" alt="Atif Hit Story" width="150" height="150" layout="responsive"></amp-img>
                              <p>Atif Hit Story</p>
                            </a>
                            
                            <a href="/albums/Atif-%28Super-Hits-Songs-Collection%29" class="album">
                              <amp-img src="http://c.saavncdn.com/061/Atif-Super-Hits-Songs-Collection-Hindi-2017-150x150.jpg" alt="Atif (Super Hits Songs Collection)" width="150" height="150" layout="responsive"></amp-img>
                              <p>Atif (Super Hits Songs Collection)</p>
                            </a>
                            
                            <a href="/albums/Romantic-Dev-Burman---Vol--1" class="album">
                              <amp-img src="http://c.saavncdn.com/874/Romantic-Dev-Burman-Vol-1-Hindi-2018-20180530-150x150.jpg" alt="Romantic Dev Burman - Vol. 1" width="150" height="150" layout="responsive"></amp-img>
                              <p>Romantic Dev Burman - Vol. 1</p>
                            </a>
                            
                            <a href="/albums/Sunday-Music----Relaxing-Songs-For-Sunday" class="album">
                              <amp-img src="http://c.saavncdn.com/652/Sunday-Music-Relaxing-Songs-For-Sunday-Hindi-2017-150x150.jpg" alt="Sunday Music  - Relaxing Songs For Sunday" width="150" height="150" layout="responsive"></amp-img>
                              <p>Sunday Music  - Relaxing Songs For Sunday</p>
                            </a>
                            
                            <a href="/albums/Tulsi-Kumar---Romantic-Collection" class="album">
                              <amp-img src="http://c.saavncdn.com/217/Tulsi-Kumar-Romantic-Collection-Hindi-2018-20180829-150x150.jpg" alt="Tulsi Kumar - Romantic Collection" width="150" height="150" layout="responsive"></amp-img>
                              <p>Tulsi Kumar - Romantic Collection</p>
                            </a>
                            
  </div>
</div>