---
layout: default
title: "Tera Khayaal - 2013 Album Songs Download - Free Online Songs"
description: "Download mp3 and Listen to Tera Khayaal songs Online on Mulashwini. Hindi music album by Mohammad Vakil 1. Tera Khayaal - Mohammad Vakil, 2. Yeh Kab Kaha - Mohammad Vakil, 3. Meri Jaanam - Mohammad Vakil, 4. Ho Kubool - Mohammad Vakil, 5. Jaan-E-Mann Jaan-E-Jaan - Mohammad Vakil"
metaimg: "http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg"
permalink: /albums/Tera-Khayaal
album_name: "Tera Khayaal"
---
<div class="sidebar-img">
  <amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-500x500.jpg" alt="Album from Mohammad Vakil." width="500" height="500" layout="responsive"></amp-img>
</div>
<div class="mainbar-contant">
  <h1 class="text-center">Download free mp3 songs from album <span class="main-name"> Tera Khayaal</span></h1>
  <div class="album-songs">
    
                        <div class="song">
                          <h2 class="song-title">Tera Khayaal</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Qateel Shifai</span><amp-img src="http://c.saavncdn.com/296/Beyond-Love-Hindi-2004-20180823082204-150x150.jpg" alt="Qateel Shifai" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/03777f776a272f1690cb84c05ac22df9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jaan-E-Mann Jaan-E-Jaan</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Rafiq Jaipuri</span><amp-img src="/img/profile.png" alt="Rafiq Jaipuri" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/3d9a2804deab06835d6010b87b1cfbd6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Meri Jaanam</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Hasrat Jaipuri</span><amp-img src="http://c.saavncdn.com/413/An-Evening-In-Paris-1967-150x150.jpg" alt="Hasrat Jaipuri" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/b9e66d6178997bf3ea0ca912b0471052_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Yeh Kab Kaha</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Waali Aasi</span><amp-img src="/img/profile.png" alt="Waali Aasi" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/838eccccfba347148dbb21ee407051a3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Tham Gaya Aankh Se</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Krishna Bihari Noor</span><amp-img src="/img/profile.png" alt="Krishna Bihari Noor" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/41bababfdc36a02089fb7bc42e708d5c_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Zara Dheere Se</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Ustad Afzal Hussain</span><amp-img src="/img/profile.png" alt="Ustad Afzal Hussain" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/f5bd7fb46920f105e20b51f8d4777149_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Ho Kubool</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Hasrat Jaipuri</span><amp-img src="http://c.saavncdn.com/413/An-Evening-In-Paris-1967-150x150.jpg" alt="Hasrat Jaipuri" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/0a2aad93bbf9d37dbf085b837eb624ab_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Khoon Ho Khoon</h2>
                          <p class="song-subtitle">Mohammad Vakil - Tera Khayaal</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ustad Ahmed Hussain-Ustad Mohammad Hussain</span><amp-img src="http://c.saavncdn.com/958/The-Versatile-Lalitya-Munshaw-Hindi-2016-150x150.jpg" alt="Ustad Ahmed Hussain-Ustad Mohammad Hussain" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Mohammad Vakil</span><amp-img src="http://c.saavncdn.com/161/Tera-Khayaal-2013-150x150.jpg" alt="Mohammad Vakil" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">lyricist<br>Dr. Hanif Tarin</span><amp-img src="/img/profile.png" alt="Dr. Hanif Tarin" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ustad Ahmed Hussain-Ustad Mohammad Hussain</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/161/216c7bb4e08babc1747f41152be6761d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
  </div>
  <div class="recommended-artist">
    <h3>Similar songs from your favourite artist!</h3>
    
                                                    <a href="/albums/Ghazals-By-Trending-Voices" class="album">
                                                      <amp-img src="http://c.saavncdn.com/036/Ghazals-By-Trending-Voices-Hindi-2014-150x150.jpg" alt="Ghazals By Trending Voices" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Ghazals By Trending Voices</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Soulful-Ghazals" class="album">
                                                      <amp-img src="http://c.saavncdn.com/283/Soulful-Ghazals-2013-150x150.jpg" alt="Soulful Ghazals" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Soulful Ghazals</p>
                                                    </a>
                                                    
                                                    <a href="/albums/The-Poet%2C-The-Pen-%26amp%3B-The-Poem---From-Then-Till-Now" class="album">
                                                      <amp-img src="http://c.saavncdn.com/126/The-Poet-The-Pen-The-Poem-From-Then-Till-Now-Hindi-2017-150x150.jpg" alt="The Poet, The Pen &amp; The Poem - From Then Till Now" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>The Poet, The Pen &amp; The Poem - From Then Till Now</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Maharaja-Ranjit-Singh" class="album">
                                                      <amp-img src="http://c.saavncdn.com/040/Maharaja-Ranjit-Singh-2010-150x150.jpg" alt="Maharaja Ranjit Singh" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Maharaja Ranjit Singh</p>
                                                    </a>
                                                    
  </div>
  <div class="recommended-all">
    <h3>All time favourite albums</h3>
    
                            <a href="/albums/Arijit-Romantic-Hits" class="album">
                              <amp-img src="http://c.saavncdn.com/804/Arijit-Romantic-Hits-Hindi-2018-20180424-150x150.jpg" alt="Arijit Romantic Hits" width="150" height="150" layout="responsive"></amp-img>
                              <p>Arijit Romantic Hits</p>
                            </a>
                            
                            <a href="/albums/Centenary-Of-Indian-Cinema---Safar-Sau-Saal-Ka" class="album">
                              <amp-img src="http://c.saavncdn.com/751/Centenary-Of-Indian-Cinema-Safar-Sau-Saal-Ka-2013-150x150.jpg" alt="Centenary Of Indian Cinema - Safar Sau Saal Ka" width="150" height="150" layout="responsive"></amp-img>
                              <p>Centenary Of Indian Cinema - Safar Sau Saal Ka</p>
                            </a>
                            
                            <a href="/albums/Ultimate-Love-Songs---Arijit-Singh" class="album">
                              <amp-img src="http://c.saavncdn.com/795/Ultimate-Love-Songs-Arijit-Singh-Hindi-2020-20200519124004-150x150.jpg" alt="Ultimate Love Songs - Arijit Singh" width="150" height="150" layout="responsive"></amp-img>
                              <p>Ultimate Love Songs - Arijit Singh</p>
                            </a>
                            
                            <a href="/albums/Malang---Unleash-The-Madness" class="album">
                              <amp-img src="https://c.saavncdn.com/836/Malang-Unleash-The-Madness-Hindi-2020-20200619175502-150x150.jpg" alt="Malang - Unleash The Madness" width="150" height="150" layout="responsive"></amp-img>
                              <p>Malang - Unleash The Madness</p>
                            </a>
                            
                            <a href="/albums/Kaka-Da-Swag---Rajesh-Khanna" class="album">
                              <amp-img src="http://c.saavncdn.com/828/Kaka-Da-Swag-Rajesh-Khanna-Hindi-2018-20180321-150x150.jpg" alt="Kaka Da Swag - Rajesh Khanna" width="150" height="150" layout="responsive"></amp-img>
                              <p>Kaka Da Swag - Rajesh Khanna</p>
                            </a>
                            
                            <a href="/albums/Armaan-Malik---The-Prince-Of-Romance" class="album">
                              <amp-img src="https://c.saavncdn.com/644/Armaan-Malik---The-Prince-Of-Romance-Hindi-2016-500x500.jpg" alt="Armaan Malik - The Prince Of Romance" width="150" height="150" layout="responsive"></amp-img>
                              <p>Armaan Malik - The Prince Of Romance</p>
                            </a>
                            
  </div>
</div>