---
layout: default
title: "Download Sai Charnamrit - 2015 hindi album"
description: "Free download Album from Md. Aziz."
metaimg: "http://c.saavncdn.com/822/Sai-Charnamrit-Hindi-2015-150x150.jpg"
permalink: /albums/Sai-Charnamrit
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/822/Sai-Charnamrit-Hindi-2015-150x150.jpg" alt="Album from Md. Aziz.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Md. Aziz.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Jisko Lagan Hai</h2>
                  <p class="song-subtitle">Shahid Shams - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/ef75d17db89b5ff8910f880b4f9cba2d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Subha Se Lekar Sham Chalo</h2>
                  <p class="song-subtitle">Akram Anjana - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/dfbac1a60f213d40692b90f6ae821888_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Prem Se Bolo</h2>
                  <p class="song-subtitle">Md. Aziz - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/6fef1d4e7894636d602b34da2672e70b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Bhakat Hai Vo Bada</h2>
                  <p class="song-subtitle">Md. Aziz - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/b2ad42a14598f391c9698df0b3c64645_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mohe Rang De</h2>
                  <p class="song-subtitle">Shahid Shams - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/fe5a3ffe63436aefe3e44ceb80eea7ec_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Laaj Iski Bachana</h2>
                  <p class="song-subtitle">Md. Aziz - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/04509d22e4ff6c04de9f25e7592b88c3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mein Tera Nam Leti Hu</h2>
                  <p class="song-subtitle">Anuja - Sai Charnamrit</p>
                  <p class="song-music">Music: Mukesh Pandey</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/822/a59b81721a045352144de6aaa46195f3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>