---
layout: default
title: "Download Woh Ladki Bahut Yaad Aati Hai - 2018 hindi album"
description: "Free download Album from Aziz Mohammad."
metaimg: "http://c.saavncdn.com/417/Woh-Ladki-Bahut-Yaad-Aati-Hai-Hindi-2018-20180414034650-150x150.jpg"
permalink: /albums/Woh-Ladki-Bahut-Yaad-Aati-Hai
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/417/Woh-Ladki-Bahut-Yaad-Aati-Hai-Hindi-2018-20180414034650-150x150.jpg" alt="Album from Aziz Mohammad.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Aziz Mohammad.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Woh Ladki Yaad Aati Hai</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/b608b28df62b6e948de662d2ef795c45_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kya Hua Phoolon Ko</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/693b7b000c5beb2d582959ddf43a1508_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tumse Milenge Sawan Ki</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/63bd4f259b5545be3c7c1a85b079d29d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Watan Jab Yaad Aata Hai</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/8f760114581ca9d4db490d33561f3ab0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Martaba Naam Aur Izzat</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/d5821f023c5e8aa07773dcbb1eeb402b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mere Zamane Ko Mujhse</h2>
                  <p class="song-subtitle">Aziz Mohammad - Woh Ladki Bahut Yaad Aati Hai</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/417/05f186e726309a3519557f08f59c761b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>