---
layout: default
title: "Download Balaji Maharaj - 2014 hindi album"
description: "Free download "
metaimg: "http://c.saavncdn.com/042/Balaji-Maharaj-Hindi-2014-150x150.jpg"
permalink: /albums/Balaji-Maharaj
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/042/Balaji-Maharaj-Hindi-2014-150x150.jpg" alt="">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - </h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Anjani Maa</h2>
                  <p class="song-subtitle">Rajendra Ji - Balaji Maharaj</p>
                  <p class="song-music">Music: Dabbu</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/042/79d5996e7adb21025fb85e4a48b4db58_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Balaji Jot Teri Jagti Rahe</h2>
                  <p class="song-subtitle">Rajendra Ji - Balaji Maharaj</p>
                  <p class="song-music">Music: Dabbu</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/042/580ead44ce6b8e1a06bb736ab7614541_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>