---
layout: default
title: "Download Duet Songs By S Subbarao And Sangeeta Biswas - 1977 hindi album"
description: "Free download Album from S. Subbarao and Sangeeta Biswas."
metaimg: "http://c.saavncdn.com/978/Duet-Songs-By-S-Subbarao-And-Sangeeta-Biswas-Hindi-1977-20181105-150x150.jpg"
permalink: /albums/Duet-Songs-By-S-Subbarao-And-Sangeeta-Biswas
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/978/Duet-Songs-By-S-Subbarao-And-Sangeeta-Biswas-Hindi-1977-20181105-150x150.jpg" alt="Album from S. Subbarao and Sangeeta Biswas.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from S. Subbarao and Sangeeta Biswas.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Narayani Veda Parayani</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/e2e5708ad0378e579be1ab14abf265ce_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tandava Priya Karasani</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/6389dd259eadbb4e4f3ebc1758eea47b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ram Jai Jai Ram</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/fe90d56279ff126ac86ac051beeedc9d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Auo Gopal Nandalal</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/4d392cee36150e60ca3d02657ba57fee_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sundara Vadana Sarasija</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/2f79413f28d5019790794605c8380ef7_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Om Hari Om Hari Narayana</h2>
                  <p class="song-subtitle">S. Subbarao, Sangeeta Biswas - Duet Songs By S Subbarao And Sangeeta Biswas</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/978/1087f80a7f72939c5471442f6a2d7057_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>