---
layout: default
title: "Download Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961] - 1961 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/123/Classic-Bollywood-Scores-Vol-80-Shama-1961-Sangeet-Samrat-Tansen-1961-Shola-Aur-Shabnam-1961--Hindi-2018-20181208033321-150x150.jpg"
permalink: /albums/Classic-Bollywood-Scores%2C-Vol--80%3A-Shama-%281961%29%2C-Sangeet-Samrat-Tansen-%5B1961%5D%2C-Shola-Aur-Shabnam-%5B1961%5D
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/123/Classic-Bollywood-Scores-Vol-80-Shama-1961-Sangeet-Samrat-Tansen-1961-Shola-Aur-Shabnam-1961--Hindi-2018-20181208033321-150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Aap Se Pyar Hua (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/53595309535b49337acaa58cfe5cfdcb_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dhadakte Dil Ki Tamanna (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/60a51d7464c8641360032f1e9db8b468_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dil Gham Se Jalraha (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suman Kalyanpur, Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/cda190621472f3c2f50739e532f77890_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Jurm Karke Hamne (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suman Kalyanpur, Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/68ae61227c50ce567ae65452ae5181b9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Insaaf Tera Dekha (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suman Kalyanpur, Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/36d0d6f7416720906ab5396c28c22d88_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mast Aankhon Mein (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/cbdde9fbcb38eff43f191e52a5a50d4b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mere Mehboob Tujhe (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Suman Kalyanpur, Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/292ee547cf16a4695dd01fae28691a92_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Woh Sadgi Kahen Ise (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/da8b5e0752c0898f0005d45abb08656b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Yaas Ke Dar Pe Jhuka (From &#039;&#039;Shama&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi, Suman Kalyanpur, Suraiya - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/0c988fd63cfaac14dcac6e3539602a24_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jhoomti Chali Hawa Yaad Aa Gaya Koi (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Mukesh - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/0d4046b9462222340a02cb7deb4abca1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sudh Bisar Gayi Aaj Apane Gunan Ki (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi, Manna Dey - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/8f678e594e125f91587409a430c870bf_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mitwa Laut Aaye Meri (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Manna Dey - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/0a8488843c6262138e8e113b0f1adfec_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Deepak Jalao Jyoti Jagao Man Me (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/347ce1fc799850e8570129c0c39d0ffc_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Badali Badali Duniyaa Hai Meri (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Mahendra Kapoor, Lata Mangeshkar - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/8638311d0c31f7d55120ee5520c1ada4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sapt Suran Tin Graam Unanchaas Koti Taan (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Manna Dey - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/3145a5ce380d1c70cdf383fd24e268dc_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sakhi Kaise Dharun Main Dhir (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Lata Mangeshkar - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/c2bbb754d223f20c5e8de68896197bf8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tut Gayi Meri Man Ki Binaa (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Pandharinath Kolhapure, Poorna Seth - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/71192fa0c8c84af6e5fbdb0a9f06e7dc_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kantadha Kantadha (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Manna Dey - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/591169b6965d436213c5a9aa1969e93e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Raag Bhairav Pratham Shaant Ras Jaake (From &#039;&#039;Sangeet Samrat Tansen&#039;&#039;)</h2>
                  <p class="song-subtitle">Manna Dey - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/656bbb97ff1ef5e59cd799854d92e5df_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ladi Re Ladi Tujhse Aankh Jo Ladi (From &#039;&#039;Shola Aur Shabnam&#039;&#039;)</h2>
                  <p class="song-subtitle">Jagjit Kaur - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/b4a5e730e85bd22a849451d0916e30e1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jane Kya Dhoondti Rahti Hai (From &#039;&#039;Shola Aur Shabnam&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/a0984d5336e1d0f1ef896f4dc7f2e7ab_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jeet Hi Lenge Baazi Hum Tum (From &#039;&#039;Shola Aur Shabnam&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi, Lata Mangeshkar - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/97e49f01e83fe2d7d7071447def91a31_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Phir Wohi Sawan Aaya (From &#039;&#039;Shola Aur Shabnam&#039;&#039;)</h2>
                  <p class="song-subtitle">Jagjit Kaur - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/2cbccef99379bfd7d80c3151730c0dd5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Pahle to Ankh Milana (From &#039;&#039;Shola Aur Shabnam&#039;&#039;)</h2>
                  <p class="song-subtitle">Mohammed Rafi, Jagjit Kaur - Classic Bollywood Scores, Vol. 80: Shama (1961), Sangeet Samrat Tansen [1961], Shola Aur Shabnam [1961]</p>
                  <p class="song-music">Music: </p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/123/bd7d1e45858874a07bb8557289d37c9e_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>