---
layout: default
title: "Download Tohra Sakhi Ke Pata Leb - 2019 hindi album"
description: "Free download Album from Various Artists."
metaimg: "http://c.saavncdn.com/411/Tohra-Sakhi-Ke-Pata-Leb-Hindi-2019-20191108170254-150x150.jpg"
permalink: /albums/Tohra-Sakhi-Ke-Pata-Leb
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/411/Tohra-Sakhi-Ke-Pata-Leb-Hindi-2019-20191108170254-150x150.jpg" alt="Album from Various Artists.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Various Artists.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Piya Anadi Pike Chalave Gadi</h2>
                  <p class="song-subtitle">Lafua Raja - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Sonu Mishra</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/db923b3d8149849d3bbbe845ef99eba2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kaatil Naina Ke Vaar Goriya</h2>
                  <p class="song-subtitle">Krishna Karan - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Lovely Music World</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/814570837808013bd7c27fb60327a804_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Piya Ke Palang Pe Jab Chadh Jaibu</h2>
                  <p class="song-subtitle">Lasari Lal Yadav - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Lovely Music World</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/295bebc775f5723dda06a1d0c7529015_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Jab Jaymaal Hoi Ho</h2>
                  <p class="song-subtitle">Krishna Kamlesh - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Deepak Dilkash</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/2c526ba44277d6290d4ce169b60bcee2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Zila Samastipur</h2>
                  <p class="song-subtitle">Krishna Kamlesh - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Deepak Dilkash</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/031d219e469a7a2954501bd8165d35a3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tohra Sakhi Ke Pata Leb</h2>
                  <p class="song-subtitle">Lallu Raja - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Roshan Singh</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/ab85fd0b7f58205fc6bb26cca40c5497_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Barat Ke Din</h2>
                  <p class="song-subtitle">Lallu Raja - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Roshan Singh</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/648226df1a89a6c504821185ec210fbd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Maati Lagana Bhatar</h2>
                  <p class="song-subtitle">Lallu Raja - Tohra Sakhi Ke Pata Leb</p>
                  <p class="song-music">Music: Roshan Singh</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/411/d23b20e53e7cb75dc5cf39c69c565110_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>