---
layout: default
title: "Devghar Me D J Bajata - 2019 Album Songs Download - Free Online Songs"
description: "Download mp3 and Listen to Devghar Me D J Bajata songs Online on Mulashwini. Bhojpuri music album by Deepak Dehati, Kiran Sahani 1. Devghar Me D J Bajata - Deepak Dehati, Kiran Sahani, 2. Ham Jaibe Karab Na - Dipu Dehati, 3. Joho Kavariya Jago - Dipu Dehati, Anupama Yadav, 4. Dil Mera Tod Diya - Narendra Sagar, 5. Naihar Me Khelani Goti - Laado Madhesiya"
metaimg: "http://c.saavncdn.com/842/Devghar-Me-D-J-Bajata-Hindi-2019-20191121091912-150x150.jpg"
permalink: /albums/Devghar-Me-D-J-Bajata
album_name: "Devghar Me D J Bajata"
---
<div class="sidebar-img">
  <amp-img src="http://c.saavncdn.com/842/Devghar-Me-D-J-Bajata-Hindi-2019-20191121091912-500x500.jpg" alt="Album from Various Artists." width="500" height="500" layout="responsive"></amp-img>
</div>
<div class="mainbar-contant">
  <h1 class="text-center">Download free mp3 songs from album <span class="main-name"> Devghar Me D J Bajata</span></h1>
  <div class="album-songs">
    
                        <div class="song">
                          <h2 class="song-title">Devghar Me D J Bajata</h2>
                          <p class="song-subtitle">Deepak Dehati, Kiran Sahani - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Deepak Dehati</span><amp-img src="http://c.saavncdn.com/842/Devghar-Me-D-J-Bajata-Hindi-2019-20191121091912-150x150.jpg" alt="Deepak Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Kiran Sahani</span><amp-img src="/img/profile.png" alt="Kiran Sahani" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/9bf5915f0bfb9bb1b420bda3e1d65dd0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Ro Mat Pagli</h2>
                          <p class="song-subtitle">Lucky Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Lucky Raja</span><amp-img src="http://c.saavncdn.com/300/Chikan-Chikan-Petwa-2-Single-English-2019-20190826140359-150x150.jpg" alt="Lucky Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/db4a226d3f25f74779199b09f74b215d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jab Se Chhod Ke Gaila Sajanwa</h2>
                          <p class="song-subtitle">Ritesh Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Ritesh Raja</span><amp-img src="http://c.saavncdn.com/898/Diyva-Bar-Ke-Ja-Single-English-2019-20191003051952-150x150.jpg" alt="Ritesh Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/71c30f977607f6fccc932764e4be4872_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Hokhata Sohar Sautiniya Gare</h2>
                          <p class="song-subtitle">Lucky Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Lucky Raja</span><amp-img src="http://c.saavncdn.com/300/Chikan-Chikan-Petwa-2-Single-English-2019-20190826140359-150x150.jpg" alt="Lucky Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/fc7eaf854f7e43921f11b76bead9dcbf_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Saiya Kaile Aisan Kam</h2>
                          <p class="song-subtitle">Lucky Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Lucky Raja</span><amp-img src="http://c.saavncdn.com/300/Chikan-Chikan-Petwa-2-Single-English-2019-20190826140359-150x150.jpg" alt="Lucky Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/e108de6f98f72fa78a81a9e1c1854449_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Naihar Me Khelani Goti</h2>
                          <p class="song-subtitle">Laado Madhesiya - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Laado Madhesiya</span><amp-img src="/img/profile.png" alt="Laado Madhesiya" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/425dcc5aacebfa7d6b28df388ce59b37_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Dhodhi Kha Bhail Ba</h2>
                          <p class="song-subtitle">Deepak Dehati, Pooja Singh - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Deepak Dehati</span><amp-img src="/img/profile.png" alt="Deepak Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Pooja Singh</span><amp-img src="/img/profile.png" alt="Pooja Singh" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/2f8e454447d6a85c4de44cc660bd7129_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Ham Jaibe Karab Na</h2>
                          <p class="song-subtitle">Dipu Dehati - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jai Guru Deva</span><amp-img src="/img/profile.png" alt="Jai Guru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="http://c.saavncdn.com/687/Nasili-Aankh-Waali-Bhojpuri-2012-150x150.jpg" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jai Guru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/007715f50e1fef605153446dac1da66d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Dil Mera Tod Diya</h2>
                          <p class="song-subtitle">Narendra Sagar - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Rajan Diwedi</span><amp-img src="/img/profile.png" alt="Rajan Diwedi" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Narendra Sagar</span><amp-img src="http://c.saavncdn.com/946/Bhai-Bahin-Ke-Pyar-Rakhi-Bhojpuri-2018-20190105032106-150x150.jpg" alt="Narendra Sagar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Rajan Diwedi</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/0fe00b9d3a03022029f51112135bee00_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Maja Milena Bhatar Me</h2>
                          <p class="song-subtitle">Rishu Babu - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Sanjay Sadhu</span><amp-img src="http://c.saavncdn.com/760/Lehanga-Lasar-Diya-Re-Bhojpuri-2019-20190316135204-150x150.jpg" alt="Sanjay Sadhu" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rishu Babu</span><amp-img src="http://c.saavncdn.com/019/Jab-Uthe-Mera-Janaja-Maiyat-Par-Meri-Aa-Jana-Hindi-2019-20190627200229-150x150.jpg" alt="Rishu Babu" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Sanjay Sadhu</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/ee5d774c916c193a2450594b088e3823_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Joho Kavariya Jago</h2>
                          <p class="song-subtitle">Dipu Dehati, Anupama Yadav - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jai Guru Deva</span><amp-img src="/img/profile.png" alt="Jai Guru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="/img/profile.png" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Anupama Yadav</span><amp-img src="/img/profile.png" alt="Anupama Yadav" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jai Guru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/3e42a56076194abc60568c87495f7639_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Dori Me Sane Ata</h2>
                          <p class="song-subtitle">Rishu Babu - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Sanjay Sadhu</span><amp-img src="http://c.saavncdn.com/760/Lehanga-Lasar-Diya-Re-Bhojpuri-2019-20190316135204-150x150.jpg" alt="Sanjay Sadhu" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rishu Babu</span><amp-img src="http://c.saavncdn.com/019/Jab-Uthe-Mera-Janaja-Maiyat-Par-Meri-Aa-Jana-Hindi-2019-20190627200229-150x150.jpg" alt="Rishu Babu" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Sanjay Sadhu</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/6e3be823dff1a0fbec028026746d185f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Bilar Date Katalash</h2>
                          <p class="song-subtitle">Dipu Dehati - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jay Guru Deva</span><amp-img src="http://c.saavncdn.com/779/Holi-Me-Poojwa-Dalwave-Bhojpuri-2018-20181106-150x150.jpg" alt="Jay Guru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="http://c.saavncdn.com/687/Nasili-Aankh-Waali-Bhojpuri-2012-150x150.jpg" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jay Guru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/618b682fc2610c3686f557f8ffacacb1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Lohara Ke Chhotaka Chhauda</h2>
                          <p class="song-subtitle">Chandu Raj - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Chandu Raj</span><amp-img src="http://c.saavncdn.com/716/Pee-La-Isabgol-Wala-Bhusi-Bhojpuri-2018-20180523-150x150.jpg" alt="Chandu Raj" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/8dd5e117d0dd8f5a1cc66191b640cf18_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Piya Eno Piyake Mange Fhino</h2>
                          <p class="song-subtitle">Rishu Babu - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Sanjay Sadhu</span><amp-img src="http://c.saavncdn.com/760/Lehanga-Lasar-Diya-Re-Bhojpuri-2019-20190316135204-150x150.jpg" alt="Sanjay Sadhu" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rishu Babu</span><amp-img src="http://c.saavncdn.com/019/Jab-Uthe-Mera-Janaja-Maiyat-Par-Meri-Aa-Jana-Hindi-2019-20190627200229-150x150.jpg" alt="Rishu Babu" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Sanjay Sadhu</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/c0713a3bb9f830e8f724dda19fdf29c0_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Gawana Karake Gail Bangalore</h2>
                          <p class="song-subtitle">Harikesh Lal Yadav - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Harikesh Lal Yadav</span><amp-img src="http://c.saavncdn.com/906/Badhata-Vjan-Jobanwa-Ke-Bhojpuri-2018-20180605-150x150.jpg" alt="Harikesh Lal Yadav" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/7b094c0f44b389d0dea29a69b55d2bc5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Andheri Rat Me Diya Tere Hath Me</h2>
                          <p class="song-subtitle">Dipu Dehati, Neelam Sagar - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jay Guru Deva</span><amp-img src="http://c.saavncdn.com/779/Holi-Me-Poojwa-Dalwave-Bhojpuri-2018-20181106-150x150.jpg" alt="Jay Guru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="/img/profile.png" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Neelam Sagar</span><amp-img src="/img/profile.png" alt="Neelam Sagar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jay Guru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/b96547a82a0b0e1ec31ddb5298a7bef4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Maa Durga Bhawani</h2>
                          <p class="song-subtitle">Brajesh Mishra - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Rajesh Dubey</span><amp-img src="http://c.saavncdn.com/383/Buddha-Triratna-Chants-at-432-Hz-Hindi-2018-20180215044641-150x150.jpg" alt="Rajesh Dubey" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Brajesh Mishra</span><amp-img src="/img/profile.png" alt="Brajesh Mishra" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Rajesh Dubey</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/641fff59075a6abf6511da73a6504ffe_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Yaar Ghare Aaja</h2>
                          <p class="song-subtitle">Anita Shivani - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Manoj Aryan</span><amp-img src="http://c.saavncdn.com/833/Le-La-Ye-Jaan-Bhojpuri-2017-150x150.jpg" alt="Manoj Aryan" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Anita Shivani</span><amp-img src="http://c.saavncdn.com/036/Ratiya-Kaha-Bitawala-Bhojpuri-2015-150x150.jpg" alt="Anita Shivani" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Manoj Aryan</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/b24df1d56b63c3dc1aa86320553d60b8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Majanu Bana Dihalu</h2>
                          <p class="song-subtitle">Dipu Dehati - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jay Guru Deva</span><amp-img src="http://c.saavncdn.com/779/Holi-Me-Poojwa-Dalwave-Bhojpuri-2018-20181106-150x150.jpg" alt="Jay Guru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="http://c.saavncdn.com/687/Nasili-Aankh-Waali-Bhojpuri-2012-150x150.jpg" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jay Guru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/47246707306c908e0591b98161c87a77_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Marad Mera Dudh Kattu Ha</h2>
                          <p class="song-subtitle">Antra Singh Priyanka, Dipu Dehati - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Antra Singh Priyanka</span><amp-img src="/img/profile.png" alt="Antra Singh Priyanka" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="/img/profile.png" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Sakshi Siwani</span><amp-img src="/img/profile.png" alt="Sakshi Siwani" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/2e72768f3c0674b83e324e5fe4d1d312_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Bhataru Ke Jani Diha</h2>
                          <p class="song-subtitle">Dipu Dehati, Neelam Sagar - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Jai Duru Deva</span><amp-img src="/img/profile.png" alt="Jai Duru Deva" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="/img/profile.png" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Neelam Sagar</span><amp-img src="/img/profile.png" alt="Neelam Sagar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Jai Duru Deva</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/d486b62addbedfc2fa1bf4ac989d4fcb_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Mere Shyam</h2>
                          <p class="song-subtitle">Manoj Maurya - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Manoj Maurya</span><amp-img src="http://c.saavncdn.com/035/Zara-Zara-Tumse-Hain-Kehna-Hindi-2013-150x150.jpg" alt="Manoj Maurya" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/9bcd5da5863e5af72aa8c87c4c7173fd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Ego Chumma De da Na</h2>
                          <p class="song-subtitle">Dipu Dehat - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ajay Baba</span><amp-img src="/img/profile.png" alt="Ajay Baba" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehat</span><amp-img src="/img/profile.png" alt="Dipu Dehat" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ajay Baba</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/e0bcc1139c1bd44577a61c6f1e02b2df_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Sasura Mobile Leke Na Jaib</h2>
                          <p class="song-subtitle">Ritesh Raja, Priyanka Maurya - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Ritesh Raja</span><amp-img src="/img/profile.png" alt="Ritesh Raja" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Priyanka Maurya</span><amp-img src="/img/profile.png" alt="Priyanka Maurya" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/8878325f1e7b33b1053a99e391e1b6f1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jawani Khoje Joda</h2>
                          <p class="song-subtitle">Rocky Raja, Priyanka Maurya - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rocky Raja</span><amp-img src="/img/profile.png" alt="Rocky Raja" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Priyanka Maurya</span><amp-img src="/img/profile.png" alt="Priyanka Maurya" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/1f64bd581608e5e290c1341b7d46fbba_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Maiya Teri Jyot Jale</h2>
                          <p class="song-subtitle">Jaswant - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Jaswant</span><amp-img src="http://c.saavncdn.com/961/Nawan-Hani-2008-150x150.jpg" alt="Jaswant" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/221ee62a33c61c624657047733ee1b6d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Powar Tohar Jhar Deb</h2>
                          <p class="song-subtitle">Lucky Raja, Sakshi Shivani - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Lucky Raja</span><amp-img src="/img/profile.png" alt="Lucky Raja" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Sakshi Shivani</span><amp-img src="/img/profile.png" alt="Sakshi Shivani" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/98a3c2671cdffdc1eb086c141da82216_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Yadav Ji Nachaihe Stage Pe</h2>
                          <p class="song-subtitle">Harikesh Lal Yadav, Sakshi Siwani - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Harikesh Lal Yadav</span><amp-img src="/img/profile.png" alt="Harikesh Lal Yadav" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Sakshi Siwani</span><amp-img src="/img/profile.png" alt="Sakshi Siwani" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/1de66b25c222a5a52eaba917a732bae9_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Matilaganu Piya</h2>
                          <p class="song-subtitle">Narendra Sagar - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Rajan Dwivedi</span><amp-img src="/img/profile.png" alt="Rajan Dwivedi" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Narendra Sagar</span><amp-img src="http://c.saavncdn.com/946/Bhai-Bahin-Ke-Pyar-Rakhi-Bhojpuri-2018-20190105032106-150x150.jpg" alt="Narendra Sagar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Rajan Dwivedi</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/9716c2fa4ecf2100f2c25be9bea4ab32_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Rat Ke Dhai Baje</h2>
                          <p class="song-subtitle">Dipu Dehati, Neelam Sagar - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Dipu Dehati</span><amp-img src="/img/profile.png" alt="Dipu Dehati" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Neelam Sagar</span><amp-img src="/img/profile.png" alt="Neelam Sagar" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/aeb50a85894a00ad9f5394feb1daca4b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Meri Maa</h2>
                          <p class="song-subtitle">Manoj Maurya - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Manoj Maurya</span><amp-img src="http://c.saavncdn.com/035/Zara-Zara-Tumse-Hain-Kehna-Hindi-2013-150x150.jpg" alt="Manoj Maurya" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/baf6a7296f1560f3a5c8286f216dcefe_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Chait Me Piya Mor Tractor Chalave</h2>
                          <p class="song-subtitle">Rocky Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Raj Gajipuri</span><amp-img src="/img/profile.png" alt="Raj Gajipuri" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rocky Raja</span><amp-img src="http://c.saavncdn.com/770/Nisha-Likhni-Tohar-Naam-Bhojpuri-2019-20200102145613-150x150.jpg" alt="Rocky Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Raj Gajipuri</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/d2b204bcb0c5de718f25aff114c7008d_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Lal Chunariya Mai Ke</h2>
                          <p class="song-subtitle">Brajesh Mishra - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Rajesh Dubey</span><amp-img src="http://c.saavncdn.com/383/Buddha-Triratna-Chants-at-432-Hz-Hindi-2018-20180215044641-150x150.jpg" alt="Rajesh Dubey" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Brajesh Mishra</span><amp-img src="/img/profile.png" alt="Brajesh Mishra" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Rajesh Dubey</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/dac8568f360e69469c509c26b72607dd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Chadhali Jawani Hola Mati</h2>
                          <p class="song-subtitle">Shweta Dwivedi - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ajay Baba</span><amp-img src="/img/profile.png" alt="Ajay Baba" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Shweta Dwivedi</span><amp-img src="http://c.saavncdn.com/979/Ashikon-Ko-Lage-Na-Najar-Bhojpuri-2019-20190624124508-150x150.jpg" alt="Shweta Dwivedi" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ajay Baba</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/497b93e4804fecd36b45749b9e62cdc2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Mera Mal Pataya Re</h2>
                          <p class="song-subtitle">Chandu Raj - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Arya Sharma</span><amp-img src="http://c.saavncdn.com/107/Manba-Ka-Larkor-Karke-Bhojpuri-2019-20190531134411-150x150.jpg" alt="Arya Sharma" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Chandu Raj</span><amp-img src="http://c.saavncdn.com/716/Pee-La-Isabgol-Wala-Bhusi-Bhojpuri-2018-20180523-150x150.jpg" alt="Chandu Raj" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Arya Sharma</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/cafcd3f997f59f360ce68afa5a76c1b2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Galwa Toi Toi Na</h2>
                          <p class="song-subtitle">Rocky Raja - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Ajay Baba A.J</span><amp-img src="/img/profile.png" alt="Ajay Baba A.J" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Rocky Raja</span><amp-img src="http://c.saavncdn.com/770/Nisha-Likhni-Tohar-Naam-Bhojpuri-2019-20200102145613-150x150.jpg" alt="Rocky Raja" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Ajay Baba A.J</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/2cd78d1bafc27161b4f1a3333d14bd80_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Jholi Bharade Sherawali</h2>
                          <p class="song-subtitle">Brajesh Mishra - Devghar Me D J Bajata</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">music<br>Rajesh Dubey</span><amp-img src="http://c.saavncdn.com/383/Buddha-Triratna-Chants-at-432-Hz-Hindi-2018-20180215044641-150x150.jpg" alt="Rajesh Dubey" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Brajesh Mishra</span><amp-img src="/img/profile.png" alt="Brajesh Mishra" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: Rajesh Dubey</p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/842/11573f7f294bfa91875ad8bb9c25c009_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
  </div>
  <div class="recommended-artist">
    <h3>Similar songs from your favourite artist!</h3>
    
                                                    <a href="/albums/Tony-Kakkar-Dance-Hits" class="album">
                                                      <amp-img src="http://c.saavncdn.com/396/Tony-Kakkar-Dance-Hits-Hindi-2018-20181107001339-150x150.jpg" alt="Tony Kakkar Dance Hits" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Tony Kakkar Dance Hits</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Pure----Chillout" class="album">
                                                      <amp-img src="http://c.saavncdn.com/484/Pure-Chillout-English-2011-20180331025616-150x150.jpg" alt="Pure... Chillout" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Pure... Chillout</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Holi-Mein-Rangeele" class="album">
                                                      <amp-img src="http://c.saavncdn.com/808/Holi-Mein-Rangeele-Hindi-2020-20200301153233-150x150.jpg" alt="Holi Mein Rangeele" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Holi Mein Rangeele</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Chhalakata-Hamro-Jawaniya" class="album">
                                                      <amp-img src="http://c.saavncdn.com/436/Chhalakata-Hamro-Jawaniya-Hindi-2016-150x150.jpg" alt="Chhalakata Hamro Jawaniya" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Chhalakata Hamro Jawaniya</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Sai-Aashirwad" class="album">
                                                      <amp-img src="http://c.saavncdn.com/478/Sai-Aashirwad-Hindi-2016-20190710001957-150x150.jpg" alt="Sai Aashirwad" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Sai Aashirwad</p>
                                                    </a>
                                                    
                                                    <a href="/albums/Likhe-Jo-Khat-Tujhe-%28Refix-Version%29" class="album">
                                                      <amp-img src="http://c.saavncdn.com/276/Likhe-Jo-Khat-Tujhe-Refix-Version--Hindi-2018-20180109222246-150x150.jpg" alt="Likhe Jo Khat Tujhe (Refix Version)" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Likhe Jo Khat Tujhe (Refix Version)</p>
                                                    </a>
                                                    
  </div>
  <div class="recommended-all">
    <h3>All time favourite albums</h3>
    
                            <a href="/albums/Kabir-Singh" class="album">
                              <amp-img src="https://c.saavncdn.com/807/Kabir-Singh-Hindi-2019-20190614075009-150x150.jpg" alt="Kabir Singh" width="150" height="150" layout="responsive"></amp-img>
                              <p>Kabir Singh</p>
                            </a>
                            
                            <a href="/albums/50-Shades-Of-Music---Super-Duper-Bollywood-Music" class="album">
                              <amp-img src="http://c.saavncdn.com/321/50-Shades-Of-Music-Super-Duper-Bollywood-Music-Hindi-2018-20180112-150x150.jpg" alt="50 Shades Of Music - Super Duper Bollywood Music" width="150" height="150" layout="responsive"></amp-img>
                              <p>50 Shades Of Music - Super Duper Bollywood Music</p>
                            </a>
                            
                            <a href="/albums/Charismatic-Sasha---Shahid" class="album">
                              <amp-img src="http://c.saavncdn.com/565/Charismatic-Sasha-Shahid-Hindi-2020-20200224114000-150x150.jpg" alt="Charismatic Sasha - Shahid" width="150" height="150" layout="responsive"></amp-img>
                              <p>Charismatic Sasha - Shahid</p>
                            </a>
                            
                            <a href="/albums/Safarnama---Rajesh-Khanna" class="album">
                              <amp-img src="http://c.saavncdn.com/685/Safarnama-Rajesh-Khanna-Hindi-2017-150x150.jpg" alt="Safarnama - Rajesh Khanna" width="150" height="150" layout="responsive"></amp-img>
                              <p>Safarnama - Rajesh Khanna</p>
                            </a>
                            
                            <a href="/albums/VYRL-Originals---Best-of-2019" class="album">
                              <amp-img src="http://c.saavncdn.com/763/VYRL-Originals-Best-of-2019-Hindi-2020-20200122060741-150x150.jpg" alt="VYRL Originals - Best of 2019" width="150" height="150" layout="responsive"></amp-img>
                              <p>VYRL Originals - Best of 2019</p>
                            </a>
                            
                            <a href="/albums/Loveholic-Arijit-Singh" class="album">
                              <amp-img src="http://c.saavncdn.com/201/Loveholic-Arijit-Singh-Hindi-2019-20190415231557-150x150.jpg" alt="Loveholic Arijit Singh" width="150" height="150" layout="responsive"></amp-img>
                              <p>Loveholic Arijit Singh</p>
                            </a>
                            
  </div>
</div>