---
layout: default
title: "Download Midnight - 1972 hindi album"
description: "Free download Album from Subir Sen."
metaimg: "http://c.saavncdn.com/323/Midnight-Hindi-1972-20200220112219-150x150.jpg"
permalink: /albums/Midnight
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/323/Midnight-Hindi-1972-20200220112219-150x150.jpg" alt="Album from Subir Sen.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Subir Sen.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">London Ki Ek Mill Mein</h2>
                  <p class="song-subtitle">Mohammed  Rafi - Midnight</p>
                  <p class="song-music">Music: Subir Sen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/323/43ac8c7cfc0328464e3a55dc1f3bf904_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Teri Yaad Mein Sajan</h2>
                  <p class="song-subtitle">Geeta Dutt - Midnight</p>
                  <p class="song-music">Music: Subir Sen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/323/135d6044788bf2ccdc5fb23c09fd8ac1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Koi Mera Ho Gaya</h2>
                  <p class="song-subtitle">Subir Sen - Midnight</p>
                  <p class="song-music">Music: Subir Sen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/323/3f8ce50292a1fd35706ff2a142442b1f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Zindagi Ka Yeh Fasana</h2>
                  <p class="song-subtitle">Mohammed  Rafi - Midnight</p>
                  <p class="song-music">Music: Subir Sen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/323/40d2a0f839bc34347738a744b632280b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tumsa Meet Mila</h2>
                  <p class="song-subtitle">Talat Mahmood, Geeta Dutt - Midnight</p>
                  <p class="song-music">Music: Subir Sen</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/323/96df0535d17ffb372c63c0f6494f9db4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>