---
layout: default
title: "Download Love Beats And Beyond - 2016 hindi album"
description: "Free download "
metaimg: "http://c.saavncdn.com/532/Love-Beats-And-Beyond-Hindi-2016-150x150.jpg"
permalink: /albums/Love-Beats-And-Beyond
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/532/Love-Beats-And-Beyond-Hindi-2016-150x150.jpg" alt="">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - </h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Meri Dhadkan Mein Tu Hai</h2>
                  <p class="song-subtitle">Haridas, Dr. Vijay Bhave (B. Prayog) - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Vijay Bhave (B. Prayog)</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/eaa7e1a4c8fd4ef43a8a4a70ac2584be_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Teenager Love</h2>
                  <p class="song-subtitle">Sanchi Ingle, Vikrant Bhartiya, Dr. Rajesh Sharma - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Rajesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/255478cb963514e2ff2a59c17542d37a_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tum Hi Meri Subaha Ho</h2>
                  <p class="song-subtitle">Rik Naskar, Dr. Vijay Bhave (B. Prayog) - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Vijay Bhave (B. Prayog)</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/a2742749723c9662a213ca21fe0b60b4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Meri Har Duaa Mein Tu Mera Khuda</h2>
                  <p class="song-subtitle">Devang Ahirrao, Dr. Rajesh Sharma - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Rajesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/b8948699ff2db507aab143be8f018899_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ek Arse Ke Baad Deedar Huva Hai</h2>
                  <p class="song-subtitle">Sanchi Ingle, Devang Ahirrao, Dr. Vijay Bhave (B. Prayog) - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Vijay Bhave (B. Prayog)</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/e8578f4e4e6cc13fe63d91a923f12988_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Teri Gair Maujudagi</h2>
                  <p class="song-subtitle">Ninad Bhat, Dr. Rajesh Sharma - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Rajesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/29485f1e420b8416621eecb8bd72a9b4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Piya Re Moraa Jiya Laage Naa</h2>
                  <p class="song-subtitle">Ragini Kavathekar, Dr. Vijay Bhave (B. Prayog) - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Vijay Bhave (B. Prayog)</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/b2c1918753ac31c98c3970cefd100cd4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Apni Saansein Tujhko De Kar</h2>
                  <p class="song-subtitle">Reetu Malik, Dr. Rajesh Sharma - Love Beats And Beyond</p>
                  <p class="song-music">Music: Dr. Rajesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/532/d8dfbbc992585e37ad2037d993ac9397_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>