---
layout: default
title: "Download Kale Badal - 1951 hindi album"
description: "Free download Album from Shyamsunder."
metaimg: "http://c.saavncdn.com/116/Kale-Badal-Hindi-1951-20200924103904-150x150.jpg"
permalink: /albums/Kale-Badal
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/116/Kale-Badal-Hindi-1951-20200924103904-150x150.jpg" alt="Album from Shyamsunder.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Shyamsunder.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Pehle Unke Samne Jate Hi</h2>
                  <p class="song-subtitle">Shamshad Begum - Kale Badal</p>
                  <p class="song-music">Music: Shamshad Begum, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/1f9e0fac0597d9fbc97af60221f9f1a8_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tadapna Aur Chup Rahna</h2>
                  <p class="song-subtitle">G.M. Durrani - Kale Badal</p>
                  <p class="song-music">Music: G.M. Durrani, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/d297787790e6b9a8ff3f89e1efdaa404_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Tu Mane Ya Na Mane</h2>
                  <p class="song-subtitle">Pushpa Hans - Kale Badal</p>
                  <p class="song-music">Music: Pushpa Hans, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/b6ca5d8d63f8c86a3a2a0c9b9c4ae9cc_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dil Hi Dil Mein Roenge Ham</h2>
                  <p class="song-subtitle">Sulochana Kadam - Kale Badal</p>
                  <p class="song-music">Music: Sulochana Kadam, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/6bf318be70b7cecb8d00a3f21c4a233f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dil Kisi Se Lagake Dekh Liya</h2>
                  <p class="song-subtitle">Pushpa Hans - Kale Badal</p>
                  <p class="song-music">Music: Pushpa Hans, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/07f2b09fe5be9006cfe73a24a6f1adb4_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ham Teri Gali Se Door Chale</h2>
                  <p class="song-subtitle">K. C. Goel - Kale Badal</p>
                  <p class="song-music">Music: K. C. Goel, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/7edf81dbb8e7c0bb744b4b5422e4b0db_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kisi Majboor Ka Jalta Hua Ghar</h2>
                  <p class="song-subtitle">Sulochana Kadam - Kale Badal</p>
                  <p class="song-music">Music: Sulochana Kadam, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/575aa161b775bbe9930cd5abc2e952d3_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Teri Nazar Ne Meri Nazar Se</h2>
                  <p class="song-subtitle">Sulochana Kadam - Kale Badal</p>
                  <p class="song-music">Music: Sulochana Kadam, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/52985b56754027eeca64869e9c1a3188_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Ulfut Jise Kahte Hain</h2>
                  <p class="song-subtitle">Sulochana Kadam - Kale Badal</p>
                  <p class="song-music">Music: Sulochana Kadam, Shyamsunder</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/116/4e5e44c175953270ba8518af776afb0f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>