---
layout: default
title: "Download Mr. India - 1960 hindi album"
description: "Free download Album from G. S. Kohli."
metaimg: "http://c.saavncdn.com/159/Mr-India-Hindi-1960-20200924103920-150x150.jpg"
permalink: /albums/Mr--India
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/159/Mr-India-Hindi-1960-20200924103920-150x150.jpg" alt="Album from G. S. Kohli.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from G. S. Kohli.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Chhod Ke Na Jana Aadhi Raat Ko</h2>
                  <p class="song-subtitle">Asha Bhosle, Mohammed Rafi - Mr. India</p>
                  <p class="song-music">Music: Asha Bhosle, Mohammed Rafi, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/d31356a07c351147428e123293702310_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Hae Teri Ankh Men Wo Kamaal Hai</h2>
                  <p class="song-subtitle">Mohammed Rafi - Mr. India</p>
                  <p class="song-music">Music: Mohammed Rafi, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/e1fa757601e0e50659ea66f248e3626f_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kya Soch Raha Matwale</h2>
                  <p class="song-subtitle">Mohammed Rafi - Mr. India</p>
                  <p class="song-music">Music: Mohammed Rafi, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/5bfca6be7141ca1ce2af05782d749935_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Mat Puchh Mera Hai Kaun Vatan</h2>
                  <p class="song-subtitle">Mohammed Rafi - Mr. India</p>
                  <p class="song-music">Music: Mohammed Rafi, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/fdd18fe79952c5fdb149ee180cc2083b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dekha Na Jaye Socha Na Jaye</h2>
                  <p class="song-subtitle">Geeta Dutt - Mr. India</p>
                  <p class="song-music">Music: Geeta Dutt, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/7946f62eb82c93467c04198c6185afec_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Kahan Chali Chham Se</h2>
                  <p class="song-subtitle">Asha Bhosle - Mr. India</p>
                  <p class="song-music">Music: Asha Bhosle, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/49019fc631baf2366fecf6c3a086eeba_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Main Machis Ki Tili Chamkili</h2>
                  <p class="song-subtitle">Geeta Dutt - Mr. India</p>
                  <p class="song-music">Music: Geeta Dutt, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/4ee27a8bcbb3590e330965b4a7ba5963_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Nazar Yeh Teri Tikhi</h2>
                  <p class="song-subtitle">Asha Bhosle, Mohammed Rafi - Mr. India</p>
                  <p class="song-music">Music: Asha Bhosle, Mohammed Rafi, G. S. Kohli</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/159/76837db80e47f5751e3ab58398c72676_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>