---
layout: default
title: "Resonance (Goonj), Pt. 2 - 2014 Album Songs Download - Free Online Songs"
description: "Download mp3 and Listen to Resonance (Goonj), Pt. 2 songs Online on Mulashwini. Hindi music album by Pandit Rajan Sajan Misra 1. Raag Hansdhwani: Madhyalaya Teental - Vighan Haran Gaj Badan Gajanan - Pandit Rajan Sajan Misra, Pandit Sharda Sahai, 2. Raag Hansdhwani: Drut Teental - Jai Jai Matangi Maata - Pandit Rajan Sajan Misra, Pandit Sharda Sahai, 3. Raag Kirwani: Bhajan: Dhumali - Jagat Mein Jhoothi Dekhi Preet - Pandit Rajan Sajan Misra, Pandit Sharda Sahai"
metaimg: "http://c.saavncdn.com/028/Resonance-Goonj-Pt-2-Hindi-2014-150x150.jpg"
permalink: /albums/Resonance-%28Goonj%29%2C-Pt--2
album_name: "Resonance (Goonj), Pt. 2"
---
<div class="sidebar-img">
  <amp-img src="http://c.saavncdn.com/028/Resonance-Goonj-Pt-2-Hindi-2014-500x500.jpg" alt="Album from Pandit Rajan Sajan Misra." width="500" height="500" layout="responsive"></amp-img>
</div>
<div class="mainbar-contant">
  <h1 class="text-center">Download free mp3 songs from album <span class="main-name"> Resonance (Goonj), Pt. 2</span></h1>
  <div class="album-songs">
    
                        <div class="song">
                          <h2 class="song-title">Raag Hansdhwani: Drut Teental - Jai Jai Matangi Maata</h2>
                          <p class="song-subtitle">Pandit Rajan Sajan Misra ft. Pandit Sharda Sahai - Resonance (Goonj), Pt. 2</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Rajan Sajan Misra</span><amp-img src="http://c.saavncdn.com/737/The-Best-Of-Shiva-Bhajans-Hindi-2004-150x150.jpg" alt="Pandit Rajan Sajan Misra" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Sharda Sahai</span><amp-img src="http://c.saavncdn.com/418/The-Spirit-Of-Benares-English-1991-150x150.jpg" alt="Pandit Sharda Sahai" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: </p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/028/1d5e93f34e6406ab0628574fd5452f74_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Raag Hansdhwani: Madhyalaya Teental - Vighan Haran Gaj Badan Gajanan</h2>
                          <p class="song-subtitle">Pandit Rajan Sajan Misra ft. Pandit Sharda Sahai - Resonance (Goonj), Pt. 2</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Rajan Sajan Misra</span><amp-img src="http://c.saavncdn.com/737/The-Best-Of-Shiva-Bhajans-Hindi-2004-150x150.jpg" alt="Pandit Rajan Sajan Misra" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Sharda Sahai</span><amp-img src="http://c.saavncdn.com/418/The-Spirit-Of-Benares-English-1991-150x150.jpg" alt="Pandit Sharda Sahai" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: </p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/028/129c8ab4907c5ffa333fab364fc5b1b6_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
                        <div class="song">
                          <h2 class="song-title">Raag Kirwani: Bhajan: Dhumali - Jagat Mein Jhoothi Dekhi Preet</h2>
                          <p class="song-subtitle">Pandit Rajan Sajan Misra ft. Pandit Sharda Sahai - Resonance (Goonj), Pt. 2</p>
                          <p class="song-subtitle"><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Rajan Sajan Misra</span><amp-img src="http://c.saavncdn.com/737/The-Best-Of-Shiva-Bhajans-Hindi-2004-150x150.jpg" alt="Pandit Rajan Sajan Misra" width="50" height="50" layout="responsive"></amp-img></span><span class="artist-wrapper"><span class="artist-info">singer<br>Pandit Sharda Sahai</span><amp-img src="http://c.saavncdn.com/418/The-Spirit-Of-Benares-English-1991-150x150.jpg" alt="Pandit Sharda Sahai" width="50" height="50" layout="responsive"></amp-img></span></p>
                          <p class="song-music">Music: </p>
                          <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/028/73d31bb9cea6fc52ce11fb53f1aa89f7_320.mp4" download>{% include icon-download.html %}Download Now</a>
                        </div>
                        
  </div>
  <div class="recommended-artist">
    <h3>Similar songs from your favourite artist!</h3>
    
                                                    <a href="/albums/Resonance-%28Goonj%29%2C-Pt--1" class="album">
                                                      <amp-img src="http://c.saavncdn.com/127/Resonance-Goonj-Pt-1-Hindi-2014-150x150.jpg" alt="Resonance (Goonj), Pt. 1" width="150" height="150" layout="responsive"></amp-img>
                                                      <p>Resonance (Goonj), Pt. 1</p>
                                                    </a>
                                                    
  </div>
  <div class="recommended-all">
    <h3>All time favourite albums</h3>
    
                            <a href="/albums/Tum-Hi-Aana-%28From-%26quot%3BMarjaavaan%26quot%3B%29" class="album">
                              <amp-img src="http://c.saavncdn.com/287/Tum-Hi-Aana-From-Marjaavaan--Hindi-2019-20191003024542-150x150.jpg" alt="Tum Hi Aana (From &quot;Marjaavaan&quot;)" width="150" height="150" layout="responsive"></amp-img>
                              <p>Tum Hi Aana (From &quot;Marjaavaan&quot;)</p>
                            </a>
                            
                            <a href="/albums/Frolic-Neha-Kakkar" class="album">
                              <amp-img src="http://c.saavncdn.com/636/Frolic-Neha-Kakkar-Hindi-2019-20190228104849-150x150.jpg" alt="Frolic Neha Kakkar" width="150" height="150" layout="responsive"></amp-img>
                              <p>Frolic Neha Kakkar</p>
                            </a>
                            
                            <a href="/albums/Raula-Pai-Jaan-De-%28Bollywood-Songs-for-Weddings%29" class="album">
                              <amp-img src="http://c.saavncdn.com/696/Raula-Pai-Jaan-De-Bollywood-Songs-for-Weddings--Hindi-2017-20171124120011-150x150.jpg" alt="Raula Pai Jaan De (Bollywood Songs for Weddings)" width="150" height="150" layout="responsive"></amp-img>
                              <p>Raula Pai Jaan De (Bollywood Songs for Weddings)</p>
                            </a>
                            
                            <a href="/albums/Kedarnath" class="album">
                              <amp-img src="https://c.saavncdn.com/367/Kedarnath-Hindi-2019-20190219-150x150.jpg" alt="Kedarnath" width="150" height="150" layout="responsive"></amp-img>
                              <p>Kedarnath</p>
                            </a>
                            
                            <a href="/albums/Ek-Cup-Love" class="album">
                              <amp-img src="http://c.saavncdn.com/221/Ek-Cup-Love-Hindi-2017-150x150.jpg" alt="Ek Cup Love" width="150" height="150" layout="responsive"></amp-img>
                              <p>Ek Cup Love</p>
                            </a>
                            
                            <a href="/albums/Propose-Day-Special" class="album">
                              <amp-img src="http://c.saavncdn.com/419/Propose-Day-Special-Hindi-2018-20180202-150x150.jpg" alt="Propose Day Special" width="150" height="150" layout="responsive"></amp-img>
                              <p>Propose Day Special</p>
                            </a>
                            
  </div>
</div>