---
layout: default
title: "Download Sali Ji Ke Holi - 2016 hindi album"
description: "Free download Album from Amit Singh."
metaimg: "http://c.saavncdn.com/019/Sali-Ji-Ke-Holi-Hindi-2016-150x150.jpg"
permalink: /albums/Sali-Ji-Ke-Holi
---
<div class="sidebar-img">
  <img src="http://c.saavncdn.com/019/Sali-Ji-Ke-Holi-Hindi-2016-150x150.jpg" alt="Album from Amit Singh.">
</div>
<div class="mainbar-contant">
  <h1>Download free songs - Album from Amit Singh.</h1>
  <div class="album-songs">
    
                <div class="song">
                  <h2 class="song-title">Babuwa Ke Lagi Sardi</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/b52ddf7d296d3a9502e00382623f78c5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Chhtak Chhtak Ke Bhagatiya</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/3aa62af635028b066a5a508941ca83fd_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dalem Rangwa Choli Me Na</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/4a842a28e2022150ed441ca75cc185f2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Dewru Dum Dhara Naa</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/1ce345f1b251f70e622a97690802dc3b_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Man Agutail Ba</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/4a0373c402c7235bd7a673e7a89e75a5_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sari Me Phickari Tutal Ba</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/14be5ca3c9aa31e442eb77f08c9a57f1_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
                <div class="song">
                  <h2 class="song-title">Sejiye Pe Khele Circket Ho</h2>
                  <p class="song-subtitle">Amit Singh - Sali Ji Ke Holi</p>
                  <p class="song-music">Music: Rakesh Sharma</p>
                  <a rel="noopener noreferrer nofollow" target="_blank" href="http://aac.saavncdn.com/019/5eb9ce00eaf76333d22ab2ffd11c4fa2_320.mp4" download>{% include icon-download.html %}Download Now</a>
                </div>
                
  </div>
</div>